[2021-03-01 09:11] itsMeDavidV opened #1 ""Error getting vehicle to wake""
There is a known bug on Watchla, that in some cases causes Watchla to not give the vehicle enough time to actually wake when the connection between Tesla's servers and the vehicle is slow. This causes Watchla to throw an error message saying "Error getting vehicle to wake".

This bug can lead to vehicle communication errors that can cause command failures and inaccurate data to be displayed. In th

[2021-03-02 17:56] itsMeDavidV commented on #1
*Update:

A fix for this bug is in beta and looking promising. Next steps are to include it in the next App Store update.

If you are in the beta and still experience issues with this bug on a beta build that is >44 please comment below.

[2021-03-08 17:52] itsMeDavidV commented on #1
*Update 2:

This bug has been fully fixed as of Watchla update version 1.2 on the App Store.

[2021-03-08 17:52] #1 closed

[2021-04-03 14:31] Storm562 opened #2 "Siri commands not working on watch"
Hi,
Everytime I ask Siri to do something I get “Watchla will continue your request.”
A “Open Watchla” button is underneath
I uploaded a picture
Thanks
Paul

![058E922A-9428-4A36-95A3-2AEA4608D0C8](https://user-images.githubusercontent.com/81866323/113481354-f3e20280-944d-11eb-9129-3fe3f5d9de51.jpeg)

[2021-04-03 19:49] itsMeDavidV commented on #2
Hi  @Storm562, thanks for reporting this. I will investigate this issue further and reply back with an update.

In the meantime I just wanted to get some info from you around this issue, to better help me get to the bottom of it:

- Which command were you asking Siri to perform?
- Does the issue occur all the time or only at certain times / under certain circumstances
- Was your vehicle in deep sl

[2021-04-04 00:55] itsMeDavidV commented on #2
@Storm562

Hi Paul,
The issue you faced was reproduced and a fix for it has been made & submitted to beta users for testing. I will request an expedited review with Apple and hopefully the fix will be included in an App Store update of Watchla by tomorrow (Sunday, April 4th). I will comment back here when the new update is out.

[2021-04-04 01:17] Storm562 commented on #2
Thank you!

Sent from my iPhone

[2021-04-04 23:01] itsMeDavidV commented on #2
@Storm562 You're welcome! Just wanted to let you know that the issue has been fixed in version 1.40 of Watchla, which as of now is available on the App Store.

If no other occurrences of this issue are reported in >= v 1.40 today I will close this issue.

Thanks again for reporting this!

[2021-04-05 15:40] #2 closed

[2021-04-10 08:00] Aicrag22 opened #3 "Trunk bottom"
Hi. It’s not possible to close the trunk.
the app only permit to open.
please check it

[2021-04-10 17:40] itsMeDavidV commented on #3
Hi thanks for reporting this. I will look into it and report back with an update soon.

[2021-04-12 06:59] KurtSanders opened #4 "Relevant Vehicle Status Icons? (P, Wifi)"
The symbol 'P' and other status icons are not documented on the Apple watch or [Watchla website](https://watchla.app/decoded/statuses.html) for 'Relevant Vehicle Status' in the watch face complication.  Please document or let me know what it denotes.

Great app so far, very clean interface and easy to install using the QR codes.  I replaced the 'Stats' watch app for Watchla.

Fyi, the 'loading' sc

[2021-04-12 18:21] KurtSanders opened #5 "Error Getting Vehicle Data {endless loop}"
The Watchla app goes into an endless loop displaying the "Error getting vehicle data' and 'Okay' & 'Cancel' do not appear to have any function to end the endless loop.  My preferences are all set to the 'default' for Wake Settings.  Stopping the Watchla App and restarting it (Press the side button on the Apple Watch one time. Then, scroll through the active apps with your finger or the digital cro

[2021-04-13 02:42] itsMeDavidV commented on #4
@KurtSanders

Hi Kurt!

I'm really glad to hear that you're enjoying Watchla!

So P,R,N,D denote the current shift state of the vehicle and they respectively stand for:

Park
Reverse
Neutral
Drive

If there are no other relevant modes to report, the 'Relevant Vehicle Status' complication will default to display the vehicle's shift state.

The no-wifi looking icon actually denotes that Watchla is h

[2021-04-13 02:44] itsMeDavidV commented on #4
@KurtSanders also, I will definitely look into the extended loading issue (after tapping the shift state) and get back to you if a bug is discovered.

[2021-04-13 06:12] itsMeDavidV commented on #3
Hi  @Aicrag22 , just wanted to let you know that this bug has been identified and fixed. The fix will be included in the next App Store update of Watchla, version 1.50. This update has been sent to Apple review and should be out within the coming day. Once it is out I will close this issue.

Thanks again for reporting this!

[2021-04-13 08:01] itsMeDavidV commented on #5
Hi Kurt! @KurtSanders

So this endless loop is definitely a new bug, thanks for reporting it.

I'm curious as to the steps to reproduction for this issue. Is there anything special that happens or specific action that you perform right before this horrible loop occurs? Or is it just a matter of opening the app and the loop automatically starts?

Also I mentioned this in #4 but in case you didn't s

[2021-04-13 18:32] BJMckechnie commented on #5
I'm the same, the green circle scrolls around. Won't connect connects 1 in 25 attempts. Really annoying.

[2021-04-13 19:48] itsMeDavidV opened #6 "Known critical bug - please read. (Can't connect bug)"
There is a known critical bug that affects some users, where their Apple Watch blocks the connection to the Tesla API. This bug is currently being worked on and an update with a fix is being rapidly produced.

This bug can cause the endless loading issue and will prevent connection to the vehicle. So if you are experiencing that issue, it is most likely caused by this.

I am working hard to bring

[2021-04-13 19:49] itsMeDavidV commented on #5
@BJMckechnie you are most likely facing issue #6 I am working hard to bring a fix to the App Store as soon as possible.

[2021-04-13 19:50] itsMeDavidV commented on #5
This particular bug has been identified and a fix is in the works. Most likely, the fix will be included in v1.60

[2021-04-13 20:06] BJMckechnie commented on #5
Thanks, how do I subscribe to the issue?

[2021-04-13 20:28] itsMeDavidV commented on #5
@BJMckechnie If you're viewing this on your phone, swipe up the comment tab, scroll all the way down and select "Subscribe".

If you're viewing this on Desktop, look to the right tool bar, scroll down and click "Subscribe"

[2021-04-13 20:31] itsMeDavidV commented on #3
Update 1.50 is now out on the App Store and in that update this issue has been fixed.

Thanks!

[2021-04-13 20:31] #3 closed

[2021-04-14 02:29] itsMeDavidV opened #7 "Known critical bug - please read. (Endless loading)"
In addition to issue #6 there is another critical bug that causes the loading screen to get stuck and the range wheel just spins forever. This bug can be a second-hand cause of issue #6 , but it's also likely that it can be the cause of a one-time vehicle data issue that's not related to issue #6.

The direct cause of this bug has been identified and a fix for this bug is almost done and will be i

[2021-04-14 05:08] itsMeDavidV commented on #7
###*Update:*

A fix for this bug has been developed and beta testers should expect to see it tomorrow.

If passed beta, App Store users should expect to see it shortly after.

Please see demo below.

I will close out this issue once an update with the fix is out on the App Store.

[2021-04-14 05:10] itsMeDavidV commented on #7
https://user-images.githubusercontent.com/12491192/114657482-6a33ff80-9cad-11eb-88d6-edb3cbbea604.mov

[2021-04-14 20:25] itsMeDavidV commented on #7
**Update:**

This has been fixed in version 1.60 which is now released. If you are experiencing this issue, please update the app.

[2021-04-14 20:25] #7 closed

[2021-04-14 20:27] itsMeDavidV commented on #6
A fix for this has been introduced in version 1.60 which is now out on the App Store. After the fix is validated, I will close this issue.

[2021-04-15 03:23] itsMeDavidV commented on #6
This fix has been validated. Thanks to everyone who reached out to report this issue.

[2021-04-15 03:24] #6 closed

[2021-04-15 06:27] itsMeDavidV commented on #4
Hi Kurt @KurtSanders

I have added Park, Reverse, Neutral, Drive, and no-connection to https://watchla.app/decoded/statuses.html as promised above. Thanks again for bringing this up.

I also want to note that I did see your App Store review and in your review you claimed that I did not respond to you here on the issues that you submitted on GitHub. Obviously I have made multiple responses to both

[2021-04-15 06:27] #4 closed

[2021-04-15 09:06] KurtSanders commented on #5
How are we to confirm the current version of the Watchla installed?  I checked for the version on the app and on the watch and did not see a version indicated.  Thanks @itsMeDavidV

[2021-04-15 09:10] KurtSanders commented on #4
Dear @itsMeDavidV,

I did not see your responses to my issues on the support page of your GitHub site.  It was not being being assigned, projects, milestones, etc..and no notifications when I checked back   I am a regular developer on GitHub with Hubitat and Smartthings and familiar with using GitHub as a means for providing support.  I am guessing that GitHub's flaky notifications might be the cu

[2021-04-15 10:26] KurtSanders commented on #5
@itsMeDavidV

On the latest version of Watchla, at 6:23 EDST 4/15/2021, I still get a 'Status Code 408' error when checking the 'P' status on Watchla app.  After pressing the 'Try Again' button that is displayed along with the status code, Watchla does connect and display the status icons.

[2021-04-15 20:21] itsMeDavidV commented on #5
Hi @KurtSanders,

Thanks for this feedback!

It looks like you are on version 1.60. However, you pose a good question. I checked myself and there is no way via the App Store to see the current version of a Watch app. You can only verify that you are on the latest version by going to the App Store page of the app and checking to see if the download button says "Open" or "Update". So in light of tha

[2021-04-15 20:28] itsMeDavidV commented on #5
@KurtSanders Also I want to ask if at all have you been faced with the error loop in this new version of Watchla, like in your first video on this thread? Since before the time that you reported it, there have been specific measures in place in Watchla's code base to prevent this specific loop, so it's very hard to reach a state where that error loop would occur on Watchla and thus reproducing it

[2021-04-15 21:28] KurtSanders commented on #5
Dear @itsMeDavidV

Thanks for your quick response.   I just tired Watchla from the watch's main complication (the 'P' Parked) icon and it immediately generated an 408 error 👎.  The good news is that you have eliminated the endless loop 👍  (Yea, nice work) in the app, but the app does end up presenting two info screens that need to be navigated/acknowledged to resolve the 408 condition, wake up the

[2021-04-15 21:50] KurtSanders commented on #4
Sounds great and again sorry for my "quick to judge" on the app.  Being a developer, I too, have not gotten back to all my users in their expected level of "free" support.  I appreciate your tireless effort to create a low cost all watch app, and handle all the errors that can happen with a totally watch app, internet, and Tesla API's being hammered by millions of vehicles...

I will be constructi

[2021-04-17 17:17] KurtSanders commented on #5
@itsMeDavidV,

On the beta version, I'm still getting the 408 error and the Watchla app loops about 7-10 times with the Error & Try Again Screen before eventually successfully waking up the Tesla and getting status.

I'm wondering if you can just increase the timeout/retry attempts when receiving a 408 and the API returns no data because the Tesla is in a deep sleep.  I realize that this could als

[2021-04-17 20:40] itsMeDavidV commented on #5
Hey @KurtSanders quick update (will respond in detail later) just wanted to let you know that something like the method you mentioned (eg: timeout -> wait x seconds -> retry) is currently being implemented into the next App Store version of Watchla. I think it's a good idea and it most likely will remove the necessity for the error alert on first data load.

A similar practice is used by Watchla w

[2021-04-17 20:48] KurtSanders commented on #5
That will great to test and I'm confident that n number of retries (where n > 1) will work.  Perhaps a user setting so that one can increase the number of wait/retires before indicating that the vehicle is unavailable.

[2021-04-19 08:20] KurtSanders commented on #5
@itsMeDavidV

I'm on Watchla version 1.70 (65) and still experiencing the two error screens when the Tesla in in a deep sleep.  It requires several (about 4-5 loops) of pressing the acknowledgment screens of the "Error try again" prompts before it finally resolves and obtains Tesla status.

When the Tesla is not in a deep sleep, the Watchla App obtains status as expected.  I do notice that Watchla

[2021-04-19 17:23] itsMeDavidV commented on #5
@KurtSanders that's really good to know I will increase max num of retries & possibly time intervals between them in build 66.

And Watchla complication updates are on a set schedule (with Wake settings turned off updates occur about 4-5 times/hour), just because Apple limits the max amount of times that you can:
1) update complications
2) operate in background

This is due to battery management i

[2021-04-19 22:57] KurtSanders commented on #5
@itsMeDavidV

Those planned changes look promising and I like the smart polling.

Thanks for reminding me the parameters that the Apple Watch enforces on polling apps for sake of battery optimization.    The Watchla icon on the watch's main complication updates usually after a 4-5 minutes which makes perfect sense given the polling frequency.  If I want to update it before this, I just press on th

[2021-04-20 06:27] KurtSanders commented on #5
Dear @itsMeDavidV,

I installed beta version 1.70 and refreshed authentication token using the Authla app.  Watchla is functioning as expected and did not present an error screen on first use obtaining car status.  That's a great sign!

I will report back tomorrow with frequent testing...

Thanks for working on the improvements!

[2021-04-20 07:38] KurtSanders commented on #5
@itsMeDavidV

Does the car information being displayed always get refreshed when I press on the watch's complication icon for details? If not, another low priority request would be to indicate the 'last update date/time' perhaps somewhere on the main status icon screen or in the Watchla's preferences next to version info so one can tell how accurate the car information being displayed is.  Great a

[2021-04-24 11:02] JeremyWaring opened #8 "Charge status incorrect"
Hi, I thought it would be useful having the range & charge status showing on my watch face.
The app connects ok with the car & the functions all appear to work, but the range & % charge is wrong. It showed 42% this morning while I was playing with the app & waking the car up ok. Got into the car & the car was actually at 36%. Went for a run out & got back with the car at 30%. Checked the watched o

[2021-04-24 11:25] KurtSanders commented on #5
@itsMeDavidV

Great update and fix.  I am going to close this issue as Watchla version 1.70 (67) is working as expected to get the car status when in a deep sleep! 🥇

[2021-04-24 11:25] #5 closed

[2021-04-24 11:41] KurtSanders commented on #8
@JeremyWaring

I just checked my Watchla (beta 1.70 (67)) and it is reflecting slightly different estimates and percentages of 2021 MY  charge/range when compared to the Tesla and Stats iPhone Apps.  Although they are not off as much as you are reporting.  I think that Watchla gets car stats from Tesla's Cloud API endpoint, I wonder if it is a API bug, car model reporting issue or Watchla app. It

[2021-04-25 06:46] BJMckechnie commented on #5
Sorry do we have to do anything our end or download any update? If so how?

Kind Regards
Barry Mckechnie

[2021-04-25 07:44] itsMeDavidV commented on #8
@JeremyWaring I suspect that your Tesla center display is showing estimated range. As @KurtSanders pointed out, there is a slight difference between rated and estimated range. Watchla by default shows rated range as that is the common standard. However I would be happy to add the option to toggle between the 2 in the next update of Watchla.

Also @KurtSanders I suspect your default on the Tesla ap

[2021-04-25 07:58] itsMeDavidV commented on #5
Hey @KurtSanders please forgive my late reply! I've been bouncing between different projects this past week so replying to emails and GitHub has been a little sporadic on my part lately. Sorry about that!

So to answer your question about last update labeling I'm definitely open to that. I will also be introducing visual indicators for when a data point is not up to date, so eg: Watchla failed to

[2021-04-25 08:07] itsMeDavidV commented on #5
Hi @BJMckechnie so I'm happy to tell you that this issue is fixed in version 1.70. Version 1.70 will be out on the App Store in a couple of days and once it's out you will be able to update. There is just one last beta build left before it's introduced to the App Store!

The specific version that @KurtSanders is referencing is currently only available in beta. But like I said above it will be avai

[2021-04-25 09:47] JeremyWaring commented on #8
@itsMeDavidV @KurtSanders

Thanks for your input & suggestions.
David I think that’s the answer. In retrospect I’m sure I made an assumption regarding the relative percentage charge rather than actually checking so percentages are probably the same, but yes I always rely on estimated range rather than rated range (particularly with the battery now being several years older) so an option in the nex

[2021-04-26 01:23] itsMeDavidV commented on #8
@JeremyWaring Good news, just added est. range compatibility to Watchla. Instead of a toggle, Watchla will automatically know which type of range to display based on your vehicle's GUI settings.

This new feature will be included in the next beta build and will hopefully be out in the App Store update (v 1.70) either Monday or Tuesday, if everything goes well with App Store review. I'll close this

[2021-04-26 11:26] JeremyWaring commented on #8
@itsMeDavidV
That is good news! Great work & thanks for the quick response.
I look forward to the update. 👍

[2021-04-26 12:04] KurtSanders commented on #8
Dear @itsMeDavidV

I really like all the enhancements you have added to version 1.70 (68).  The Tesla App and Watchla Charge Rated Range for the MY are within 1 mile of each other (good enough for me 🥇 ) and charge % are identical.

One thing I noticed this morning with the new version is that the Watchla's charge status icon (which I like ) appears to indicate that the MY's charge port is 'locked

[2021-04-26 12:21] KurtSanders opened #9 "Future Features Request: Multiple Icon States for Relevant Vehicle Status (RVS)"
@itsMeDavidV

I was thinking about starting this item list for requesting future enhancements to the RVS icons for your consideration.  Just thinking about all the icon state possibilities, but realizing that you have to create different icons for every possibility, so I will keep the ideas short.

1. Add the charge status to the RVS status icons which would convey an additional visual status for

[2021-04-27 04:17] itsMeDavidV commented on #8
@KurtSanders Really glad to hear that!

So you are right, that lock icon on the charge port button denotes that the charge port is engaged and tapping that button would unlock the charge port. Also if the car is actively charging when you tap that button, Watchla will automatically stop charging and unlock the charge port in sequence. This was a huge must-have request by a lot of users.

I laid th

[2021-04-27 04:18] itsMeDavidV commented on #8
@JeremyWaring Thank you and you're very welcome!

[2021-04-27 04:33] itsMeDavidV commented on #9
@KurtSanders Thanks for creating this!

**I encourage anyone who has a RVS or complication related suggestion/request to please add it to this thread**

Charging does count as a relevant vehicle state, I will definitely consider integrating into the RVS comp. I actually like that corner implementation. It's just a matter of adding/editing the graphics for different complication states.

For the pu

[2021-04-28 22:54] itsMeDavidV commented on #8
Just updating this thread to say that the update (v1.70) was released yesterday!

[2021-04-29 08:40] JeremyWaring commented on #8
Hi David,

Thanks for the status update (& Watchla update!)

I’m still getting a discrepancy with the typical range shown on the car & Tesla app, and that shown on Watchla.

For some reason the Watchla range isn’t as shown on the GUI, but it’s now showing less than the typical estimated range shown on Tesla per the photo.

This has been the case for the past day after a number of refreshes and a c

[2021-05-01 05:16] itsMeDavidV commented on #8
Hi @JeremyWaring sorry to hear that. Is this still happening? If so, can you provide the range showed on Watchla and the range showed on the Tesla app?

[2021-05-01 06:58] JeremyWaring commented on #8
Hi David,

Please see photo.

[cid:A8462B24-17D0-4017-BADE-1A787F448CBC-L0-001]

As I type this Watchla now shows 96 miles, Tesla 109 miles, so Watchla is consistently lower.

Thanks,
Jeremy

Sent from iPhone

On 1 May 2021, at 06:16, David Villegas ***@***.***> wrote:

﻿

Hi @JeremyWaring<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FJeremyWaring&data=04%7C01%7Cje

[2021-05-03 16:26] Storm562 opened #10 "Reinstalling App"
Hi,
I had to reformat my watch with the last apple update, when I go to the app store to download the app, the link button isn't active,
it just shows "Purchased"
Thanks
Paul

[2021-05-03 20:58] itsMeDavidV commented on #10
Hi @Storm562

It's recommend to download Watchla directly from the App Store app right on your Apple Watch. This should trigger a Watchla download almost immediately on your Apple Watch.

Since Watchla is a stand-alone watch app with no iOS companion app, downloading it using the App Store on your phone can be spotty and is not recommended.

A lot of times after users buy Watchla on the App Store

[2021-05-03 21:01] itsMeDavidV commented on #8
@JeremyWaring Interesting so its the 88% discrepancy that you see between rated vs estimated but in reverse. I will get to the bottom of this and update you when there is a solution. Is this still happening as of today?

[2021-05-03 21:05] Storm562 commented on #10
I used my watch, there's no download option, just a "Buy" option?
It looks like it will charge me again?
Thanks
Paul

[2021-05-03 21:15] itsMeDavidV commented on #10
So your paired iOS device says "Purchased", but your Apple Watch says "Buy"? If so, that's definitely unusual. I would make sure that your Apple Watch is using the same Apple account as the paired iOS device that you used to buy Watchla. You could have been signed out when reformatting your Apple Watch. If they are indeed running the same account and this problem persists, then I would definitely

[2021-05-03 21:49] Storm562 commented on #10
I just wanted to see what happened if I said purchase, it acknowledged that I already purchased it, so we’re all good
Thank you
Paul

Sent from my iPhone

[2021-05-04 06:44] itsMeDavidV commented on #10
@Storm562 That's good to hear! Sounds like just a discrepancy between iOS & WatchOS App Store. Thanks for letting me know.

[2021-05-04 06:44] #10 closed

[2021-05-04 07:50] JeremyWaring commented on #8
@***@***.***> yes still happening.

Right now I've just arrived at work and plugged in, Tesla car & Tesla app show 50 miles, Watchla shows 44 miles so you're spot on with the 88% discrepancy!

Thanks,
Jeremy

From: David Villegas ***@***.***>
Sent: 03 May 2021 22:01
To: itsMeDavidV/Watchla-Support ***@***.***>
Cc: Jeremy Waring ***@***.***>; Mention ***@***.***>
Subject: Re: [itsMeDavidV/Watchla-S

[2021-05-04 14:16] itsMeDavidV commented on #8
@JeremyWaring I may have a solution and would like to add you to the beta to see if it works before putting it to production. If you're up for being in the beta, would you mind sending me your email to david@villegasventures.co so that I can add you in?

(If you don't want to be in the beta, no worries)

[2021-05-04 18:50] BJMckechnie commented on #5
Hello,
I keep checking the App Store and all I see is that I have purchased Watchla and the button is greyed out...Nothing happens or shows to install a new version.

Any thoughts?

Kind Regards
Barry Mckechnie

[2021-05-05 18:02] itsMeDavidV commented on #5
@BJMckechnie Often times the App Store on the iPhone is not reliable for downloading/updating Watch apps. I recommend updating from the App Store app on your Apple Watch itself, that should work reliably. Also since version 1.70 (I believe) you should be able to check the current version of Watchla that is installed by going into Watchla's "Preferences" screen & scrolling all the way down.

[2021-05-06 12:04] itsMeDavidV commented on #8
@JeremyWaring I've just introduced v1.90 (72) into beta which contains a possible solution for your range discrepancy issue.

And @KurtSanders I also included a fix to the +/- 1 mile range discrepancy issue that you experienced.

Once I validate this build with you both, I will roll it out to the rest of the beta and put it in the line up for the next App Store update.

Hope it works, let me know

[2021-05-06 12:26] JeremyWaring commented on #8
@itsMeDavidV @KurtSanders

I’ve received V1.90 (72) beta which has updated my watch, and pleased to say the range now showing is identical on both Watchla and Tesla apps, so all looking good from my perspective. 👍

[2021-05-06 12:43] KurtSanders commented on #8
I can also confirm this last beta release fixed accurate range mileage between Watchla and Tesla app.

[2021-05-06 17:36] itsMeDavidV commented on #8
@JeremyWaring @KurtSanders That's great to hear!

Thanks to both of you for quick responses. I've now rolled out build 72 to all of the beta and I'll close this once 1.90 makes it to the App Store in case anyone else comes across this issue before then.

[2021-05-09 19:35] itsMeDavidV opened #11 "Notice: The Tesla API has experienced some outages since yesterday (May 8th, 2021)"
This has been reported by some in the Tesla API community and it is not yet confirmed to have affected Watchla, however it may affect Watchla in the following ways:

-Sign in
-Sign out
-Connecting to vehicle may take a prolonged time or--in some cases--fail

Again there has been no confirmed reports of this affecting Watchla yet.

Based on reports from the Tesla API it looks like this outage maybe

[2021-05-15 22:11] #8 closed

[2021-05-17 22:36] Smurf5105 opened #12 "Watchla won’t wake car"

[2021-05-17 22:43] #12 closed

[2021-05-17 22:48] itsMeDavidV commented on #12
Hi @Smurf5105 thanks for reporting this. Is this issue still occurring?

Also some general questions:
-Is this issue recurring?
-Do you have Do Not Wake or Do Not Wake in Background turned on?
-Are there any special circumstances to note or a specific time or event that this issue occurs arround?

[2021-05-20 17:42] #11 closed

[2021-06-15 18:00] itsMeDavidV opened #13 "Known issue: Watchla signs out after App Store update"
There is currently a new bug going around where Watchla signs out after updating to App Store version 1.91. It has been identified that this is directly due to a keychain issue.

I am investigating further and hopefully a solution will be produced soon.

Thank you for your patience 🙂

[2021-06-15 21:24] KurtSanders commented on #13
I only see version 1.91 on both app store and testflight.   V1.91 (81) is working as expected.

[2021-06-30 22:53] Jbmsocal opened #14 "Car will not start using Apple Watch application watchla"
Error message - cannot start car remotely — all other functionality seems to work except SIRI COMMANDS - not sure why

[2021-07-01 02:17] itsMeDavidV commented on #14
Hi Sorry to hear remote start is not working for you. Can you please email me your support code so that I can directly identify what is causing remote start to not work for you? From there I will be in a better position to offer a solution.

My email is david@villegasventures.co

**To find your support code:**
From the Watchla main screen, goto "Preferences" -> "support/feedback" -> "Support code"

[2021-07-01 03:31] Jbmsocal commented on #14
Hi David the support code is WAJ41F7WOH
________________________________
From: David Villegas ***@***.***>
Sent: Wednesday, June 30, 2021 7:18:04 PM
To: itsMeDavidV/Watchla-Support ***@***.***>
Cc: Jbmsocal ***@***.***>; Author ***@***.***>
Subject: Re: [itsMeDavidV/Watchla-Support] Car will not start using Apple Watch application watchla (#14)

Hi Sorry to hear remote start is not working for you

[2021-07-01 03:37] Jbmsocal commented on #14
Hi David I was able to resolve the Siri issue by following your instructions I’ll await your response to find out why the start car command doesn’t work

Thanks in advance
Jeff
________________________________
From: Jeff . ***@***.***>
Sent: Wednesday, June 30, 2021 8:31:15 PM
To: itsMeDavidV/Watchla-Support ***@***.***>; itsMeDavidV/Watchla-Support ***@***.***>
Cc: Author ***@***.***>
Subject: Re

[2021-07-01 17:17] Jbmsocal commented on #14
Hi David I have attached a screenshot of the message on getting on my Apple Watch I’ve seen many other users are having the same issue I’ll double check the password and everything is correct. [Image.jpeg]
________________________________
From: Jeff . ***@***.***>
Sent: Wednesday, June 30, 2021 8:37 PM
To: itsMeDavidV/Watchla-Support; itsMeDavidV/Watchla-Support
Cc: Author
Subject: Re: [itsMeDavid

[2021-07-02 06:05] itsMeDavidV commented on #14
@Jbmsocal Hi Jeff, sorry for the delay. I wasn't able to see your screenshot, it seems Github is being a bit wonky.

However after looking at your error logs via your support code and also investigating further, there does seem to be an app-wide bug related to remote start.

I have no way of confirming, but you most-likely did nothing wrong and entered your password correctly, the fault is with Wa

[2021-07-08 18:22] itsMeDavidV commented on #14
Happy to report that a fix for this is now live in version 1.92!

[2021-07-08 18:23] #14 closed

[2021-07-08 18:47] Jbmsocal commented on #14
Thanks David - How do I update this version?   Since you don't have the
"Watchla" app on my iphone - I'm unfamiliar with updating a "watch only
app" ...

thanks in advance,
Jeff

On Thu, Jul 8, 2021 at 11:23 AM David Villegas ***@***.***>
wrote:

[2021-07-08 19:34] itsMeDavidV commented on #14
@Jbmsocal hi Jeff, to update Watchla just navigate to the App Store app on your Apple Watch itself, search for Watchla and tap update.

Let me know how Remote Start works for you in the new version!

-David

[2021-07-15 17:22] itsMeDavidV commented on #14
Just a quick update on remote start: An additional bug that might cause failure was identified and fixed in the newly updated version of Watchla, version 1.93, which was just now released on the App Store. To ensure remote start works properly, I recommend updating to 1.93!

[2021-08-15 08:17] rossltmoss opened #15 "Watchla no longer signs in"
Since updating to iOS 15 watchla no longer signs in when using Authla . Have tried reinstalling but no longer working

[2021-08-23 22:34] itsMeDavidV commented on #15
Hi @rossltmoss as of now Authla has not been optimized to run on iOS 15 beta. So I cannot guarantee how your experience will be on iOS 15. As the iOS 15 production update release nears closer, Authla will be tested/optimized for iOS 15. We should see the first update for Authla regarding iOS 15 most-likely in the first week of September.

As far as Watchla goes, early logs report that Watchla work

[2021-08-24 06:37] rossltmoss commented on #15
Thanks for the reply, after the last ios beta Authla is now working fine, and watchla has logged in ok. So it’s all looking good thanks

Sent with a Spark
On 23 Aug 2021, 23:34 +0100, David Villegas ***@***.***>, wrote:

[2021-08-24 19:48] itsMeDavidV commented on #15
Sweet! Glad to hear that 👍

[2021-08-24 19:48] #15 closed

[2021-09-30 12:29] Dezel2k opened #16 "Apple Watch Not Authenticating"
The Watchla app is not authenticating with Authla after iOS 15 update.

[2021-10-01 19:41] itsMeDavidV commented on #16
Hi, thanks for reporting this. Is this issue still occurring?

Unfortunately, I'm unable to reproduce this issue as the sign in with Authla feature has been verified to work on both iOS 15 and WatchOS 8.

Are there any special steps to reproduce this issue? Any particular error messages?

If you want to send your Watchla support code to david@villegasventures.co I can see if there are any underlyi

[2021-10-01 22:06] Dezel2k commented on #16
Hi,

[Image.jpeg]

Here is the code.

[Image.jpeg]

I am stuck at this screen on the watch.  I also tried scanning the qr with my phone camera nothing happens. Tried manually entering the token that fails as well.

Steve
________________________________
From: David Villegas ***@***.***>
Sent: Friday, October 1, 2021 3:42 PM
To: itsMeDavidV/Watchla-Support
Cc: Dezel2k; Author
Subject: Re: [itsMeDav

[2021-10-04 14:12] Dezel2k commented on #16
Hi,

I unpaired and repaired the watch with a restore to my phone and it works now.

Thanks no need for further assistance

Steve

________________________________
From: Steve Joseph ***@***.***>
Sent: Friday, October 1, 2021 6:06:36 PM
To: itsMeDavidV/Watchla-Support ***@***.***>; ***@***.*** ***@***.***>
Cc: Author ***@***.***>
Subject: Re: [itsMeDavidV/Watchla-Support] Apple Watch Not Authentic

[2021-10-25 02:56] kempfsc opened #17 "Keep getting Vehicle Wake Error"
Watchla has been working fine for months; however, today when I try to use it at home I keep getting a "Vehicle Wake Error." I tried re-booting my Tesla, re-booting the watch and also re-installing the app, but none of these helped. My WiFi signal is strong both for the car and the watch. Any suggestions?

[2021-10-28 03:19] nanoplane opened #18 "Can no longer connect"
It worked for a month or so but will no longer connect to my tesla.
V 1.95

[2021-11-02 00:12] itsMeDavidV commented on #18
Hi sorry to hear of this. If you could please send me your Watchla support code, I can get to the bottom of it.

You can either reply in this comment thread with your support code or you can send it through Watchla's contact form here: https://watchla.app/contact (be sure to reference this issue)

[2021-11-02 00:13] itsMeDavidV commented on #17
Hi sorry to hear of this. Are you currently running version 1.95 of Watchla?

If you could please send me your Watchla support code, I can get to the bottom of it.

You can either reply in this comment thread with your support code or you can send it through Watchla's contact form here: https://watchla.app/contact (be sure to reference this issue)

[2021-11-03 20:31] kempfsc commented on #17
Hi David,

Today I resigned back in with Authla and things started working again. Not sure what it all means, but at least I can use Watchla again.

Steve

On Nov 1, 2021, at 8:13 PM, David Villegas ***@***.******@***.***>> wrote:

CAUTION: Email Originated Outside of Auburn.

Hi sorry to hear of this. Are you currently running version 1.95 of Watchla?

If you could please send me your Watchla sup

[2021-11-13 07:08] KurtSanders opened #19 "Unable to install Watchla 2.0 (96)"
https://user-images.githubusercontent.com/12133562/141609814-cafb4863-8127-478d-9c91-8a62ada1c31e.mp4

Here is the video

[2021-11-13 07:09] KurtSanders commented on #19
Tried installing after deleting old version of Watchla and only get Spinning install wheel in Apple Watch app.  Rebooted watch and phone, did not install.

[2021-11-13 07:15] itsMeDavidV commented on #19
Are you only having trouble installing the watch app and not the iOS app?

I installed via TestFlight and I also had a very long spinning wheel thing happen to me as well. I ended up restarting my phone and watch and then I initiated the install in the Apple Watch app and left it for about 30 minutes and it finally did install.

One thing to note is to check that you can install other watch apps v

[2021-11-13 07:18] itsMeDavidV commented on #17
Good to hear. You probably encountered an authentication issue. Let me know if you face any issues in the future.

[2021-11-13 07:18] #17 closed

[2021-11-13 07:23] KurtSanders commented on #19
Bingo, the install finally completed and now installed 2.0 (96).  Not sure why Apple took so long to install this version and happy to test.  Looks like you have spent considerable time in re-development of the iOS companion app.  Nice work!

[2021-11-13 07:23] #19 closed

[2021-11-13 07:29] itsMeDavidV commented on #19
Thanks Kurt! It's still not fully complete, but now able to be tested. Let me know what you think after you play around with it!

[2021-11-13 07:32] KurtSanders commented on #19
Dear David,

Thanks for the quick response.  I rated it 5.0 on the App Store and noted that some users are pretty cruel in their assessments!  Don’t take their comments to hard, your App is very good and I know it takes a million hours of coding with integrated apps like this.  There are so many issues with Tesla API, Watch versions and cloud.   Hang in there, it's a great app!

¸¸.•*¨*•*´¨)
¸.•´¸

[2021-11-16 16:34] itsMeDavidV commented on #19
Thanks Kurt! You're definitely right, the Apple Watch and Tesla api together make for a lot of moving parts. That being said though, internal ratings show the overwhelming majority of users on Watchla are happy with their experience. Sometimes it's just the angry few who are passionate enough to make reviews.

I will say though there is always room for improvement. IMO Watchla was a little slow at

[2021-11-16 19:44] KurtSanders commented on #19
The Watchla's Siri Shortcuts are an awesome feature.  I had been using the Stats app for these, but will switch over to Watchla's to test.

Keep up the fine improvements!

¸¸.•*¨*•*´¨)
¸.•´¸.•*´¨) ¸.•*¨)
(¸.•´ (¸.•` ¤

Kurt Sanders
2485 Ridge Road
Xenia, Ohio 45385
+1937-723-0010

[2021-11-18 18:23] itsMeDavidV opened #20 "Tesla servers are down as of the time of this update. (see for issue for more info)"
Tesla's servers are giving off frequent 503 status codes across multiple platforms (not just Watchla) which means the server is experiencing issues and not performing as intended. This could lead to long wake/load times in Watchla and in the official Tesla app.

Hopefully this issues resolves soon. When it does resolve I will update and close this issue.

Thanks for your patience,
-David

[2021-11-19 20:14] itsMeDavidV commented on #20
Tesla server issues still occurring as of the time of this comment. Yesterday, Tesla server errors seemed to clear up later in the day through to this morning (MST). However, now they seem to be back.

As mentioned above I will close this issue when Tesla server error get resolved and are consistently up.

You can spot a Tesla server error by checking the status code in the error message. If the s

[2021-11-19 22:27] itsMeDavidV commented on #20
https://teslamotorsclub.com/tmc/threads/app-is-getting-500-server-error-cant-connect.247264/

[2021-11-20 02:06] itsMeDavidV commented on #20
Seems like Tesla servers are back online for now. I will close this issue when it is apparent that Tesla servers are consistently working and up online.

Thanks for your patience,
-David￼￼

[2021-11-28 17:32] #20 closed

[2021-12-26 06:08] #18 closed

[2022-01-20 17:29] Robertmordka opened #21 "Unable to paste token"
Because watchla log out every few hours I tried to authorize it with token instead of authla but the paste function is  not working on iphone screen

[2022-01-20 17:42] Robertmordka commented on #13
Watchla now is useless if you do not take the phone. It log out every few hours and without phone with authla it is impossible to sign in.

[2022-01-20 17:42] itsMeDavidV commented on #21
Hi, thanks for reporting this.

The issue you described is the result of WatchOS 8 no longer allowing paste functions from iOS to WatchOS via prompt textfield.

Good news is that pasting into your watch from iOS is no longer needed to sign in with a token in Watchla version 2.0. Version 2.0 is set to come out any day now pending Apple's review.

In the meantime, if you'd like to get Watchla v2.0 e

[2022-01-22 23:47] Paddysh opened #22 "Could not confirm sign in"
I had to reset my Apple Watch and installed watchla again on the watch.
When I now run Authla and choose „sign in to Watchla“, I get the above mentioned error message. I already deleted Authla on the iPhone and signed in with my Tesla credentials successfully.  Still the same.
Or is my newly created 2fa Tesla account causing this problem?
Any suggestions?
Thanks for your help.

[2022-01-23 04:18] itsMeDavidV commented on #13
Hi @Robertmordka Watchla 2.0 is now live. You can either update in beta or the App Store for a new and approved sign in experience

[2022-01-23 04:18] #13 closed

[2022-01-23 04:19] itsMeDavidV commented on #21
Hi @Robertmordka Watchla 2.0 is now live. You can either update in beta or the App Store for a new and approved sign in experience

[2022-01-23 04:19] #21 closed

[2022-01-23 04:23] itsMeDavidV commented on #22
Hi @Paddysh with the release of Watchla 2.0 Sign in with Authla has now been phased out. You can now sign in directly on Watchla's brand new companion iOS app. IMO this makes for a much better experience and it is also much more reliable. Just update to Watchla 2.0 and you'll be good to go!

[2022-01-23 04:23] #22 closed

[2022-01-23 09:07] Paddysh commented on #22
Hi David
Thanks for your quick response.
Unfortunately the iOS App is not there in the iPhone App Store. The buy button is greyed out. That means, I’m not able to sign in there, which would be much more convenient and reliable, indeed.

![2E34096E-EC90-4938-8FC8-9A1D7EF1B0DC](https://user-images.githubusercontent.com/98241089/150671672-5dd1cbe1-63e6-4739-91dc-f768ce73f104.jpeg)

[2022-01-23 10:31] Robertmordka commented on #13
W dniu niedz., 23.01.2022 o 05:18 David Villegas ***@***.***>
napisał(a):

Dear David

Thank You for help and beta version.
All works great.
Now it is the best watch app for controlling Tesla.

Best regards

[2022-01-24 22:24] Paddysh opened #23 "iOS app download button says "purchased" and is grayed out"
Hi David
Thanks for your quick response.
Unfortunately the iOS App is not there in the iPhone App Store. The buy button is greyed out. That means, I’m not able to sign in there, which would be much more convenient and reliable, indeed.

![2E34096E-EC90-4938-8FC8-9A1D7EF1B0DC](https://user-images.githubusercontent.com/98241089/150671672-5dd1cbe1-63e6-4739-91dc-f768ce73f104.jpeg)

_Originally posted

[2022-01-25 00:58] RY2416 opened #24 "Unable to sign into Watchla from authla"
Hello,

When attempting to connect my vehicle to the Watchla app, I’m asked to authenticate on the Autla app. When opening the Authla app and choosing to “Sign in to Watchla” I receive and error letting me know “unable to sign into Watchla try again later”. I’ve been attempting this sign in for multiple days without success. What steps can be taken to resolve? Thank you.

[2022-01-25 20:28] itsMeDavidV commented on #22
Hi @Paddysh thats very weird. Have you tried again since the time of your screenshot? Since Watchla v2.0 adds an iOS companion app, I'm thinking that could throw things off for your download. All though I am seeing in recent days that thousands of pre 2.0 users were able to successfully update without any issues.

I would try deleting the old Watchla app off of your Apple Watch and then coming bac

[2022-01-25 20:29] itsMeDavidV commented on #23
Hi @Paddysh thats very weird. Have you tried again since the time of your screenshot? Since Watchla v2.0 adds an iOS companion app, I'm thinking that could throw things off for your download. All though I am seeing in recent days that thousands of pre 2.0 users were able to successfully update without any issues.

I would try deleting the old Watchla app off of your Apple Watch and then coming bac

[2022-01-25 20:46] itsMeDavidV commented on #13
Haha love to hear it @Robertmordka glad Watchla 2.0 was able to provide a better experience for you :)

[2022-01-25 21:14] itsMeDavidV commented on #24
Hi @RY2416 with the release of version 2.0 of Watchla, sign in with Authla has now been phased out.

With Watchla v2.0 there is a new iOS companion app for Watchla that is now the default way of signing in with Tesla. From there, you can either sign in directly with Tesla or with a Tesla token. Once signed in your authentication status will automatically transfer over to the Watchla watch app.

Ho

[2022-01-25 21:14] #24 closed

[2022-01-25 22:06] RY2416 commented on #24
Thanks David,

How do I access the new iOS companion app, and what is it called? Does it require a separate download?

Is the Watchla v 2.0 automatically update from the 1.0 app or is there an additional download required

[2022-01-25 22:27] RY2416 commented on #24
I’ve found the iOS companion app, what is the best method for receiving a Tesla token. Can this be done directly from Tesla or does it require a 3rd party API app?

[2022-01-26 01:19] RY2416 opened #25 "Enable Siri for Watchla?"
“ To enable Siri for Watchla, goto the Settings app on your Apple Watch -> scroll down & select "Siri", scroll down & select "Use with Siri", and then turn on "Watchla".”

Watchla is not showing up as an option under the “Use with Siri” menu, does this need to be activated elsewhere? Any suggestions?

[2022-01-26 15:09] khbue opened #26 "Remote Start does not work anymore"
At the beginning, all commands were working. Now, still all commands are working, except “Remote Start”.
After hitting “Remote Start”, this message appears:
“Error sending command to vehicle
Please check your internet connection & try again.
Okay”
After Pressing Okay, the following statement shows up:
“Remote start enabled.
You have 2 min to start driving”
But I cannot start the car.
WLAN is ok!!

[2022-01-26 15:17] khbue commented on #26
My car is a Model 3. Karl

[2022-01-26 15:57] itsMeDavidV opened #27 "Tesla servers currently down for maintenance."
Multiple sources are currently reporting that Tesla servers are down for maintenance. This will affect Watchla's ability to connect to your vehicle. Server issues are marked with error codes 500+. I will close this issue when the Tesla server maintenance concludes.

Thanks for your patience,
-David

[2022-01-26 16:07] itsMeDavidV commented on #25
Hi @RY2416 Siri instructions for Watchla are currently being changed.

If you have version 2.0 just open the iOS app and from the main screen and goto Preferences (3 bars icon) -> Siri Shortcuts and then add the Siri Shortcuts you wish to use.

Once added, you can add them to your Apple Watch as well by going to the Shortcuts app, tapping the 3 dots button on the Shortcut, then tap the settings bu

[2022-01-26 17:06] #27 closed

[2022-01-26 17:33] itsMeDavidV commented on #26
Hi @khbue thanks for reporting this I'll take a look into it and get back to you. What version of Watchla are you using?

[2022-01-27 20:58] #25 closed

[2022-01-27 21:41] JeroenKettenis commented on #23
Same here.
i can re-install the Watchla app directly on the watch, but not on iOS. But the latter is required now to be able to sign in.

P.s.: The FAQ is not up-to-date, it only mentions that Watchla is a pure watch app only.

[2022-01-28 00:29] itsMeDavidV commented on #23
@JeroenKettenis when you re-install the watch app on your watch, which version do you get 1.95 or 2.0? You can check her version number in preferences.

It's unfortunate this is happening as this is out of Watchla's control. I'll try my best to re-produce this issue and see if I can find a remedy.

Also, FAQs are being updated tonight.

[2022-01-28 13:16] JeroenKettenis commented on #23
Hi David,

It is version 2.0.

[2022-01-29 03:00] itsMeDavidV commented on #23
Quick update:

FAQs were updated to reflect 2.0 and more Qs are continually being added.

Still working on this issue.

[2022-01-29 03:28] itsMeDavidV commented on #24
@RY2416 I'd recommend signing in with Tesla. This will allow Watchla to automatically refresh your token in the future so you don't have to.

Alternatively you can sign in with a token, however you will be responsible for providing a new Tesla token when the original one expires which could interrupt your Watchla experience.

If you do decide to sign in with a token, I recommend Watchla's sister a

[2022-02-01 05:04] pavila40 opened #28 "Cannot get Watchla to appear on watch."
I cannot find the watch app face on my watch.

[2022-02-02 02:09] itsMeDavidV commented on #28
Hi @pavila40 here's how to get the Watchla watch app on your Apple Watch:

1: download the iOS app
2: navigate to the "Watch" app on your paired iOS device
3: goto the "My Watch" tab
4: scroll down to "Available Apps"
5: tap the install button next to Watchla

After the steps above the Watchla watch app should start downloading to your watch.

If you are having download/install issues, I recommend

[2022-02-02 02:16] itsMeDavidV commented on #28
Hi @pavila40 here's a good how-to by Apple on how to customize your watch face:

https://support.apple.com/guide/watch/customize-the-watch-face-apda6559ad78/watchos

I'd recommend scrolling down to the section titled: "Add complications to the watch face"
To get familiar with adding complications to your watch face.

Once familiar, you can find available Watchla complications for most complication

[2022-02-02 08:43] BrunCos opened #29 "Watch App stuck on "To sign in..." but iOS app it's ok."
Try to restart iOS and WatchOS, try to sign in and out, try to refresh watch app without results.

[2022-02-03 10:05] itsMeDavidV commented on #29
@BrunCos If after the steps above the issue still does not resolve, then you most likely have a pairing issue between your Apple Watch and iOS device.

[2022-02-03 11:35] itsMeDavidV commented on #23
@Paddysh  @JeroenKettenis

Just wanted to check to see if this issue is still occurring for you both?

If so, can you try deleting the Watchla app from your Apple Watch and then try to download the iOS app first?

[2022-02-03 11:44] JeroenKettenis commented on #23
Hi David,

I still have the issue.
I uninstalled Watchla from my watch. Then still in the App store is has the greyed-out purchased button. Also uninstalling Authla did not help.

With kind regards,

Jeroen Kettenis

[2022-02-03 12:01] itsMeDavidV commented on #23
@JeroenKettenis ok send me your email here: https://watchla.app/contact and I'll add you into the beta. From there you will be able to download both Watchla iOS and WatchOS apps via TestFlight. Sorry for the inconvenience.

[2022-02-03 12:05] KurtSanders commented on #9
@itsMeDavidV

It would be nice feature to add more complexity into the watchla face icon!  Just seeing 'P'  or Sentry '*' icon does not indicate whether the Tesla is charging, or climate control is activated.  It would be a super enhancement to show multiple state conditions in the watch face icon which other apps do.

[2022-02-03 12:38] Paddysh commented on #23
Hi David
Same here. I’ve deleted and reinstalled on the watch several times. Watchla on the iOS AppStore is still greyed out. Even after iOS upgrade.
Thanks for all your support.
Patrick

[2022-02-03 12:40] itsMeDavidV commented on #23
@Paddysh sorry to hear that. PM me your email here: https://watchla.app/contact and I'll add you into the beta as well.

[2022-02-03 12:45] itsMeDavidV commented on #9
@KurtSanders ill add in a few more states next beta update. Climate on, preconditioning, door/trunk open, etc

Let me know if there's any specific states you'd like to see added

[2022-02-03 13:18] KurtSanders commented on #9
Desired Watchla Icon Complications:

1. Car State (D,P,R,N - Black or White, unless Preconditioning then Red)
2. Sentry Mode Icon (Black/White If Activated unless Preconditioning then Red)
3. Preconditioning (If Activated, Red Car State or Sentry State)
4. Charging Lighting Bolt Black or White, unless Preconditioning then Red)
5. Lock Status - Add small lock state icon to lower right hand corner

[2022-02-03 19:44] itsMeDavidV commented on #23
@JeroenKettenis  @JeroenKettenis I have had TestFlight invites to the beta sent to both of your emails. Just follow the steps in the email and you'll be able to download Watchla via TestFlight.

[2022-02-03 19:46] JeroenKettenis commented on #23
Hi David,

The Testflight version works great!
Thanks.

With kind regards,

Jeroen Kettenis

[2022-02-03 19:53] itsMeDavidV commented on #23
@JeroenKettenis glad to hear that! You're very welcome

[2022-02-04 08:57] Paddysh commented on #23
Hi David
Now it works perfectly.
I’m  just wondering what happens when the test flight Version expires.
Anyway, many thanks for your efforts.
Patrick

[2022-02-05 13:00] itsMeDavidV commented on #23
@Paddysh sweet!

The beta is updated regularly so no worries there. You actually kinda lucked out, because a really awesome feature is coming to beta next week! I don't want to reveal just yet, but it will easily be one of the top features on Watchla when it makes it on to the public App Store version.

Also @Paddysh  @JeroenKettenis the current beta version is the same as the current App Store ve

[2022-02-05 13:04] itsMeDavidV commented on #29
@BrunCos Is this issue still occurring for you?

Given the time since your last comment, I'll assume it did and close this issue. But if it didn't please feel free to re-open the issue.

[2022-02-05 13:04] #29 closed

[2022-02-05 13:06] itsMeDavidV commented on #28
@pavila40 Is this issue still occurring for you?

Given the time since your last comment, I'll assume it did and close this issue. But if it didn't please feel free to re-open the issue.

[2022-02-05 13:06] #28 closed

[2022-02-05 21:02] abrister77 commented on #23
I am having this exact issue and have also tried deleting off the watch but ios app store just says purchased

[2022-02-06 23:36] itsMeDavidV commented on #26
Hi @khbue so after investigating here's what I found:

- There are currently only 20 instances of Remote Start errors from 8 users in the current App Store version.

- All but 1 are 401 errors which most likely means the Tesla API received an incorrect password.

So now I just have a few questions to better get to the bottom of this:

- Is it possible that you entered the wrong password?

- After

[2022-02-06 23:38] itsMeDavidV commented on #23
@abrister77 sorry to hear that. Just like mentioned above if you send me your email here: https://watchla.app/contact I'll get you into the beta as well so you can download Watchla

[2022-02-06 23:43] itsMeDavidV commented on #23
Note to all after the time of this comment: unfortunately I cannot manually add every user that encounters this issue to the beta.

At its core, this is an Apple issue--not a Watchla issue.

I'm doing my best to see if I can find a recommended solution for the few users that experience this issue and when I have a good verified solution, I will post it to https://watchla.app/faqs/ and here as well

[2022-02-08 09:56] Rkhapa opened #30 "Apple watch issue"
App on apple watch keep saying authenticate on the phone app. I have already done that and before you ask I have restarted both

[2022-02-08 22:26] itsMeDavidV commented on #30
Hi @Rkhapa on the iOS app, goto Preferences and tap "Refresh watch app". This will force send your authentication details to your watch and allow it to sign in.

If the above does not work, be sure that
- both devices have bluetooth on
- are connected to each other
- and that your Apple Watch is not experiencing pairing issues with your iOS device.

[2022-02-08 22:30] itsMeDavidV commented on #9
@KurtSanders an update with functionality that addresses this coming most likely build 111 or 112. Working on final stages of implementing a new flagship feature then this is next.

[2022-02-08 22:36] KurtSanders commented on #9
Can’t wait to see it. This will really be a significant visual advantage over other similar Tesla watch apps.

[2022-02-10 09:41] dabenv commented on #23
Meet same issue, but finally I have my download button back after I deleted Watchla WatchOS app for 1 or 2 days, I think mostly apple purchasing service issue...

[2022-02-11 03:45] itsMeDavidV commented on #23
@dabenv glad to hear of this. I wonder if there is a way to clear the cache manually to satisfy the App Store. Maybe by deleting watch app and then restarting..

[2022-02-16 10:22] Claudehuot opened #31 "Does not open anymore"
Get stock on : « to sign in » and the authla is stuck at the same place

Claude Huot

claudehuot@icloud.com
514-513-8102

[2022-02-17 09:44] itsMeDavidV commented on #31
@Claudehuot With the release of version 2.0, automatic sign in via Authla has been discontinued.

Instead use Watchla's new iOS companion app to sign in with Tesla. Once signed in your authentication status will automatically transfer over to the watch app where you will be signed in there as well.

You can download Watchla's new iOS companion app here: https://apps.apple.com/us/app/watchla-for-te

[2022-02-17 18:59] Claudehuot commented on #31
Yes thanks , its working fine now

The only thing left is the SIRI commands

Siri does not recognize these commands ? Example « lock my Tesla «  ?

Claude Huot
***@***.***
514-513-8102

[2022-02-17 21:01] itsMeDavidV commented on #31
@Claudehuot good I'm glad to hear that!

To use Siri Shortcuts open Watchla's iOS app then goto Preferences -> Siri Shortcuts and then add the ones you'd like to use!

There's also a lot of helpful info on Siri Shortcuts and more found on our FAQs here: https://watchla.app/faqs/

Hope this info helps!

[2022-02-17 21:01] #31 closed, assigned to nobody

[2022-02-20 01:00] itsMeDavidV commented on #30
Given the time since a last response, I'm assuming this issue was resolved and closing this issue. If not, please feel free to re-open it.

Thanks,
-David

[2022-02-20 01:00] #30 closed

[2022-02-20 01:02] itsMeDavidV commented on #26
Given the time since a last response, I'm assuming this issue was resolved and closing this issue. If not, please feel free to re-open it.

Thanks,
-David

[2022-02-20 01:02] #26 closed

[2022-02-22 16:00] aembermoon opened #32 "Siri commands not recognized on iPhone or Apple Watch"
Unfortunately, when I voice command something like “Hey Siri, open charge port”, Siri doesn’t recognize it as a Watchla command. Initially, it would say I need Home Kit to use the command. Now, saying the command on the watch, it tells me I don’t have an app called “charge port”.  Saying it on iPhone results in a view of my phone battery status. I have an iPhone 13 Pro Max running iOS 15.3.1. I di

[2022-02-22 19:24] itsMeDavidV opened #33 "China sign in issue (fix being implemented)"
Notice to all Tesla China users, there is a sign in bug. A fix has already been created and will be included in Watchla's next App Store update (very soon).

Thank you for your patience!

[2022-02-22 19:38] itsMeDavidV commented on #32
@aembermoon Sorry for the frustration, sometimes Apple makes onboarding Siri Shortcuts a bit of a hassle in the beginning.

Here's what you should expect (example):

-> (on your phone) goto the Watchla iOS app
-> goto Preferences -> Siri Shortcuts
-> scroll to Open charge port, then tap "Add to Siri"
-> it will prompt you to confirm a voice phrase (Eg: "Hey Siri, Open charge port") This will be th

[2022-02-22 22:28] itsMeDavidV commented on #32
Also if Siri doesn't like a particular phrase you can always change it to anything you'd like so she can better detect the shortcut.

[2022-02-26 18:23] mlhw opened #34 "Can’t add complications to watch face"
I can’t find and add watch face face complications from the Watchla app. I have the watch app up and  running and that works, but there is no complications for Watchla available in the list of possible complications to add to my watch face.

![E1E5A0FC-3D61-44E8-AAC7-FB64C1530996](https://user-images.githubusercontent.com/13869815/155854565-c413be4e-f493-416f-af76-d4f3c432472e.png)

Do I need to d

[2022-02-27 04:33] itsMeDavidV commented on #34
Hi @mlhw sorry to hear that you're experiencing this issue. Is the issue still occurring?

Also can you confirm with me which version of Watchla you have installed on your watch? You can find version info by going to the Preferences screen and scrolling all the way down.

Given that you have Watchla's watch app installed and have initially opened it, you should still be able to add/edit complicati

[2022-02-27 04:37] itsMeDavidV commented on #32
Hi @aembermoon  is this issue still occurring for you?

[2022-02-28 16:44] WillowFarm opened #35 "Siri Issue"
When I try and use a Siri command I get this on my watch...
'I'll need to access your watch for Tesla data to do this. Please do this on your iPhone'
I can't see where to do this on my iPhone so please help. Thanks!  (my iWatch is not a cellular iWatch although it's very new)

[2022-02-28 20:25] WillowFarm commented on #35
Don't worry, over figured it out! 😃

[2022-03-01 02:19] itsMeDavidV commented on #32
Closing this. Feel free to re-open if the issue still persists.

[2022-03-01 02:19] #32 closed, assigned to nobody

[2022-03-01 02:21] itsMeDavidV commented on #35
@WillowFarm Glad to hear that! Let me know if there are any other issues.

[2022-03-01 02:21] #35 closed, assigned to nobody

[2022-03-01 07:17] WillowFarm commented on #35
Hi David

Thank you for coming back to me. Only a day into using the app and already loving it!

Regards

ERIC

________________________________

Eric Riley
Sales & Marketing Director, Illuma Lighting
T: +44(0)1332 818200M: +44(0)7798 767 767
E: ***@***.***: Eric_Riley
 W: www.illuma.co.uk
A: Sills Road, Willow Farm Business Park, Castle Donington, Derbyshire,
DE74 2US, United Kingdom
This email a

[2022-03-01 20:06] sarselvaraj opened #36 "App in watch is not signing in"

[2022-03-02 01:04] itsMeDavidV commented on #36
Hi @sarselvaraj sorry to hear you're having sign in issues.

To clarify, are you saying that you're signed in on the iOS app, but not the watch app? If this is the case just open the iOS app, goto preferences and then tap "Refresh watch app". This should force update the watch app to receive your sign in status. If there is no sign in update after a few seconds, be sure to close out the watch app

[2022-03-02 05:44] itsMeDavidV commented on #35
@WillowFarm that's awesome, I'm really glad to hear that you're loving the app! Please do consider giving an app review or rating as they really help Watchla grow!

[2022-03-02 18:22] itsMeDavidV commented on #34
Going to assume this issue was remedied due to no response and am closing. If the issue persists, feel free to re-open.

[2022-03-02 18:22] #34 closed, assigned to nobody

[2022-03-02 18:23] itsMeDavidV commented on #33
Fix currently being tested with Watchla's China-beta group. If you have a Tesla-China account and want to join the beta, please let me know!

[2022-03-02 18:54] mlhw commented on #34
Unpairing and pairing the watch with my iPhone again fixed the issue.

[2022-03-02 22:19] itsMeDavidV commented on #9
![image](https://user-images.githubusercontent.com/12491192/156459265-4ec9f037-afea-4839-b081-d32e02d8c777.jpeg)

[2022-03-02 22:24] itsMeDavidV commented on #9
Expansion of rvs underway focusing on climate, vehicle closure state and *maybe* charge state for this first round of upgrades.

Expansion also includes modular comps, however multi-purpose imgs will probably not happen as it's not scalable and the number of variations would eat up a lot of dev time for other pressing work needed currently. Modular comps will show content based on order of importa

[2022-03-02 22:34] itsMeDavidV commented on #34
@mlhw ah ok, good to hear it worked out!

[2022-03-07 20:31] itsMeDavidV commented on #36
Going to assume this issue was remedied due to no response and am closing. If the issue persists, please feel free to re-open.

[2022-03-07 20:31] #36 closed, assigned to nobody

[2022-03-07 20:32] itsMeDavidV commented on #33
Fix confirmed in beta. Will be included in next App Store update, prob this week. Thanks to all Chinese beta testers!

[2022-03-09 00:18] user858753257 commented on #9
Thanks  @itsMeDavidV for your work .

Where can I find the beta you have mentioned?

Maybe you can add the feature to allow the user to set a temperature for precondition

[2022-03-09 20:20] Pixelleration opened #37 "Watch app not signing in"
I followed the instructions in several other posts about this issue and nothing is working.

The watch app says

“please authenticate your Tesla account in the Watchla iOS app”

I did that. didn’t work.
I refreshed the watch app through the iOS preferences. Didn’t work.
I closed the apps on both devices and tried again. Didn’t work.

How do I fix this issue.

[2022-03-09 20:30] itsMeDavidV commented on #9
@F3000 You're very welcome! The features described above have since been released to the App Store in version 2.1!

Also the Tesla API doesn't allow for users to set a preconditioning temp. To my knowledge, when you turn preconditioning on, your Tesla predicts which temps you want based on your last set temps so for example if your last temp was 75F then preconditioning will know to heat up your c

[2022-03-09 20:36] itsMeDavidV commented on #37
@Pixelleration Sorry to hear that.

You most likely are experiencing a pairing issue between your watch and iOS device.

Try restarting your Apple Watch and iOS device before attempting to sign in again. If that does not solve the issue, you will most likely need to re-pair your watch to your iOS device.

[2022-03-09 20:40] itsMeDavidV commented on #33
Happy to report that the fix for this issue has been included in the v2.1 update of Watchla on the App Store.

If you're experiencing this issue please update to version 2.1 or later!

[2022-03-09 20:40] #33 closed, assigned to nobody

[2022-03-09 21:07] Pixelleration commented on #37
Nope. Still doesn’t work  and I just paired the whole watch againwhich is a
pain to do.

On Wed, Mar 9, 2022 at 12:36 PM David Villegas ***@***.***>
wrote:

--
  John James
  213-595-9406

  www.pixelleration.com

[2022-03-09 21:09] Pixelleration commented on #37
In the iOS app it says the watch app is not installed even though it is.

On Wed, Mar 9, 2022 at 1:07 PM John James ***@***.***> wrote:

--
  John James
  213-595-9406

  www.pixelleration.com

[2022-03-09 21:19] Pixelleration commented on #37
I reinstalled all the apps and now what it does is I see the screen with
the controls for a split second and then the authentication sign in screen
pops up and I can’t do anything else

On Wed, Mar 9, 2022 at 1:09 PM John James ***@***.***> wrote:

--
  John James
  213-595-9406

  www.pixelleration.com

[2022-03-09 21:31] itsMeDavidV commented on #37
@Pixelleration If you send me your Support code (from the watch app) to https://watchla.app/contact I can see if there are any other reasons for this issue and get back to you.

However I will say that if the iOS app is saying that the watch app is not installed that is because your iOS device is saying that the watch app is not installed.

Obviously we know that is wrong, so this is a pretty good

[2022-03-09 21:36] Pixelleration commented on #37
2mcYbgbphy

On Wed, Mar 9, 2022 at 1:32 PM David Villegas ***@***.***>
wrote:

--
  John James
  213-595-9406

  www.pixelleration.com

[2022-03-09 21:41] Pixelleration commented on #37
It’s not a pairing issue because I reinstalled the apps and paired the
watch again which took a while because it had to delink all my apps. The
iOS app doesn’t say not installed anymore. It says that “vehicle data last
updated 0s ago”

But the watch app doesn’t let me interact with it.
Like I said before, the buttons pop up for a split second and then it
disappears for that authentication screen.

[2022-03-09 21:45] itsMeDavidV commented on #37
@Pixelleration Ah okay that is a good sign. I'll take a look and report back.

Have you tried refreshing or re-signing in since seeing the "Watch app not installed" indicator go away?

[2022-03-09 21:58] Pixelleration commented on #37
Yeah. I tried all of that.

Refreshed in the iOS app,

Reinstalled the apps

Paired the watch and phone again.

Nothing.

Luckily the message that was saying that it wasn’t installed on the watch
is no longer there.

I took a quick video of what the watch app is doing.

On Wed, Mar 9, 2022 at 1:45 PM David Villegas ***@***.***>
wrote:

--
  John James
  213-595-9406

  www.pixelleration.com

[2022-03-09 22:21] itsMeDavidV commented on #37
@Pixelleration Quick question: after re-installing the Watchla app on your watch, is there a new support code (not this: 2mcYbgbphy). If so, I'll need that new support code as well as the support code from the iOS app. Thanks!

[2022-03-09 22:25] Pixelleration commented on #37
No. That’s the latest support code. It’s the same on both the watch and the
app.

Here are the backup codes just in case.

IOS
0ACB3965-D319-4654-BBF5-DF4F0FC2E669

APPLE WATCH
A1D2888F-E2BA-4F4D-ACAE-DB570B06ADFD

On Wed, Mar 9, 2022 at 2:21 PM David Villegas ***@***.***>
wrote:

--
  John James
  213-595-9406

  www.pixelleration.com

[2022-03-09 22:29] Pixelleration commented on #37
I deleted the code messages on GitHub so that no one else can view the
codes. I emailed them to you via that link.
--
  John James
  213-595-9406

  www.pixelleration.com

[2022-03-09 22:44] user858753257 commented on #9
@itsMeDavidV Thanks for the explanation.

I have activated now the battery state complication .
Is it possible to adjust the color theme similar to the weather app ?

E.g. full = green , empty = red , half full = orange

[2022-03-09 22:50] user858753257 opened #38 "Feature request : use the iPhone app with the same commands"
Hey ,

is it possible to enable the in app watch to work ? 😅

Thanks

[2022-03-09 22:52] user858753257 opened #39 "Feature request : add option to precondition only on some days"
Hi ,

does the api allow to pre heat/precondition s.g. automatically On Thursdays ?

[2022-03-09 23:36] itsMeDavidV commented on #37
Hi @Pixelleration so after looking at your logs I can see that there are no extraneous issues occurring. As you reported, the iOS app is communicating with your vehicle just fine while the watch app is failing to receive your authentication status from the iOS app due to unknown reasons.

I have had a TestFlight invite to the Watchla beta sent to your email. If you'd like you can download the beta

[2022-03-09 23:45] itsMeDavidV commented on #37
Also for the purposes of isolating any beta logs from your old production app logs, please completely delete the old watch app that you got from the App Store

-Thanks!

[2022-03-10 00:42] Pixelleration commented on #37
This test flight version works!  Had some issues deleting the old version
and getting this to install cleanly, but it’s working so far. Will test it
with the car now

Thanks!

On Wed, Mar 9, 2022 at 3:45 PM David Villegas ***@***.***>
wrote:

--
  John James
  213-595-9406

  www.pixelleration.com

[2022-03-11 15:08] itsMeDavidV commented on #37
Sweet! Very glad to hear it worked! The current TestFlight version is the same exact version as on the App Store so most likely it could have been some sort of App Store installation bug on the Apple Watch.

More to come on beta very soon so stay tuned! 🙂

[2022-03-11 19:06] itsMeDavidV opened #40 "*URGENT* if on v2.1, please update to v2.2 (see issue for more details)"
Edit: v2.2 has been released, if affected by this issue please update!

Original: Hi Watchla users, this morning a critical bug that can cause disruption between the iOS app and the watch app has been discovered. It can affect your ability to sign in and transfer settings to the watch app.

A fix has been made and included in an update for Watchla that has been submitted to Apple for expedited rev

[2022-03-11 19:11] itsMeDavidV commented on #37
@Pixelleration a bug discovery (issue #40) was made for v2.1 (released 2 days ago) and most likely had some play into why you were not able to sign in. Fix has been submitted to Apple for expedited review--its advised to not sign out until you obtain the new version (v2.2)

Thanks for your patience and I will update issue #40 as soon as new update hits the beta and App Store.

[2022-03-11 20:01] itsMeDavidV commented on #40
**Update:** beta users can now access version 2.2 which fixes this issue.

[2022-03-11 20:02] itsMeDavidV commented on #37
@Pixelleration you can now access the update with the fix (v2.2) on TestFlight. Thanks for your patience!

[2022-03-11 20:03] itsMeDavidV commented on #39
I will have to check for that and get back to you!

[2022-03-11 20:08] itsMeDavidV commented on #38
The iOS app is currently dedicated to a support role for the watch app. Think: easy sign in, settings/customizations management, Siri Shortcuts, etc. However you actually can perform a ton of Watchla commands on iOS through Siri Shortcuts ;)

For now though, Watchla will be focused on creating an amazing watch experience. Currently there is another huge watch-related flagship feature in the pipeli

[2022-03-11 20:08] #38 closed, assigned to nobody

[2022-03-11 22:08] itsMeDavidV commented on #40
**Update:** Version 2.2 which contains a fix for this issue has been released to the App Store. Please update if you are experiencing this issue.

[2022-03-11 23:52] #37 closed, assigned to nobody

[2022-03-12 00:25] Pixelleration commented on #37
Just out of curiosity... this doesn't allow you to actually drive the car
without the phone or key card correct?  There's an autostart button, but it
doesn't do anything when turning the steering wheel.

  John James
  213-595-9406

  www.pixelleration.com

On Fri, Mar 11, 2022 at 3:52 PM David Villegas ***@***.***>
wrote:

[2022-03-12 20:27] user858753257 commented on #40
Working again . Thanks 👍

[2022-03-12 22:47] user858753257 opened #41 "Feature request : add wake option for XXX minutes"
Hey ,

I'm searching for a way to wake up my M3 for a period of time .
Could be an iOS Shortcut which I can configure (eg. 20min)

I'm using TeslaUSB and I don't want to run sentry mode all night only to power one USB sync :)

[2022-03-12 22:48] user858753257 opened #42 "Question to Sentry mode"
Hey ,

I have seen that I can turn on/off sentry mode with your app .

Is there an API for that at which location sentry can activate or not ?

[2022-03-13 22:29] itsMeDavidV commented on #41
@F3000 Not super familiar with TeslaUSB but to my knowledge sentry mode actually doesn't keep the vehicle awake, it just keeps the vehicle from going into deep sleep. That's why waking is much faster when sentry is active.

Other than outright waking the vehicle every 60 seconds or so, there is no standard way to keep the vehicle awake other than physically being in the car or leaving the door ope

[2022-03-13 22:33] itsMeDavidV commented on #42
That's within the vehicle, currently Tesla API doesn't allow for setting locations for activating/deactivating sentry

[2022-03-14 18:17] #42 closed, assigned to nobody

[2022-03-14 18:17] #41 closed, assigned to nobody

[2022-03-19 23:50] user858753257 opened #43 "(Maybe ) Bug : complication "battery state" show 0% when sentry mode is off"
Hi ,

I have turned off sentry mode at my home location via the in car monitor .

I have done this three days ago . Since than the battery state widget doesn't show content , except when I click on it and it loads data .

The last week  I had sentry on all
Day and it worked fine .

Do you have an idea ?

[2022-03-20 15:26] itsMeDavidV commented on #43
When you leave Sentry Mode off, the car is more prone to fall into deep sleep. And just like a human, it takes a long time to wake up from deep sleep. For Tesla, it can take anywhere from 15 seconds to minutes, but on average it takes around 20-30 seconds.

The bulk of complications updates (Eg: battery state) happen in the background.

Due to the limited capacity of the Apple Watch's battery, Wat

[2022-03-20 15:32] itsMeDavidV commented on #43
Sometimes when data disruptions happen Watchla reflects last known data, however it does no good to show days old data if your car has been sitting in deep sleep. (Eg: you left your car at the airport for a few days and turned sentry mode off)

[2022-03-21 13:05] mosesvii opened #44 "Watch complication in Miles not KM"

[2022-03-21 13:07] mosesvii commented on #44
While in the watch app the distance is showing in KM remaining. The complication however is showing Miles remaining.
the name of the car is also not being pulled. It simply says ‘Vehicle Name’ on the watch face.

[2022-03-21 20:06] normanmaurer opened #45 "No vehicles found"
When trying to use the token it always says no vehicles found

[2022-03-22 15:59] itsMeDavidV opened #46 "*URGENT* [please update to v2.3 or higher] Tesla has made changes to the API that may cause sign-in disruptions"
**Edit:** this bug has been fixed! Please update to v2.3 or later for the best experience.

Overnight, Tesla has made changes to the API that may cause sign in disruptions.

If you are already signed in, it's advised to not sign out.

If you are having trouble signing in, rest assured I am working on a fix and will include it in an App Store update ASAP.

Thank you all for your patience.

-David

[2022-03-22 15:59] #40 closed, assigned to nobody

[2022-03-22 16:01] #43 closed, assigned to nobody

[2022-03-22 16:07] itsMeDavidV commented on #44
Hi @mosesvii thanks for reporting this. Are the actual data values still being shown?

Also can you send me your Watchla support code here: https://watchla.app/contact so I can take a look at any error logs you might have and see if there are discrepancies.

[2022-03-22 16:10] itsMeDavidV commented on #45
@normanmaurer this may be due to brand new change in the authentication flow for the Tesla API. For more info see issue #46

Rest assured I am working on a fix ASAP.

[2022-03-22 20:22] remonma opened #47 "the app doesn’t open"

[2022-03-22 20:22] remonma commented on #47
i put the email, the password and the code but it didn’t opened the app

[2022-03-22 20:46] itsMeDavidV commented on #47
Hi @remonma there has been a critical change made by Tesla in the last 24 hours that has led to sign in issues.

Please see issue #46 for more info.

This issue should be fixed within 24 hours.

[2022-03-23 02:06] itsMeDavidV commented on #46
**Update:**

Okay everyone, a rapid fix has been developed. Woohoo. Testing.

[2022-03-23 13:26] itsMeDavidV commented on #46
**Update 2:**

An App Store update for Watchla that contains the fix to this bug has been submitted to Apple and I have requested they expedite their review.

For beta users, the update is available. If you are in the beta, please update to v2.3 (118)

If all goes well version 2.3 should be available on the App Store in the coming hours.  Stay tuned to this thread to be updated.

[2022-03-23 19:23] itsMeDavidV commented on #46
**Update 3:**

Update version 2.3 has the fix for this bug and it is **now available on the App Store**.

It's recommended to update to version 2.3 or later for the best Watchla experience.

Thank you all for your patience!

PS: if you want to stay up to date on what's happening with Watchla, follow Watchla on Twitter!

https://twitter.com/watchlaapp?s=21

[2022-03-23 19:25] itsMeDavidV commented on #47
Hi @remonma this bug has now been fixed. Please update Watchla to version 2.3 on the App Store!

[2022-03-23 19:26] #47 closed, assigned to nobody

[2022-03-23 19:27] itsMeDavidV commented on #45
Hi @normanmaurer recently a sign in bug was fixed in version 2.3 of Watchla. I recommend updating your Watchla app so this issue can be solved.

[2022-03-23 19:27] #45 closed, assigned to nobody

[2022-03-24 05:03] normanmaurer opened #48 "Not able to switch vehicles"
I have multiple teslas and whenever I try to switch to another one it just keeps on trying to fetch the data but never completes.

[2022-03-24 10:07] abitsoylu opened #49 "Watch app"
I am having problem with watch app keep asking me to Authenticate my Tesla account

[2022-03-24 10:56] abitsoylu commented on #49
Unable to install app to my watch. I restarted my iPhone and watch still no luck. https://user-images.githubusercontent.com/6740501/159901686-7b002606-18b0-464f-838b-07f2431ffdf4.MOV

[2022-03-24 16:17] itsMeDavidV commented on #48
Hi @normanmaurer thanks for reporting this. This issues is the  result of a new bug that stems from the new auth flow that was just implemented (see issue #46).

A fix is being created and will be included in the next update of Watchla.

For a now a work around is to sign out and then back in.

I will update this thread when this bug is fixed.

Also you can select a vehicle from both the watch app

[2022-03-24 17:03] itsMeDavidV commented on #49
Hi @abitsoylu from your video it's seems you are most likely having pairing issues between your iOS device and Apple Watch.

Here's a helpful link on how to tell if you're experiencing pairing issues: https://support.apple.com/en-us/HT205025

If the issue persists, I'd recommend re-pairing your Apple watch.

[2022-03-24 17:06] abitsoylu commented on #49
I fix it. I had download Watchla app from Apple Watch App Store seems like it’s working now. But past few days I had same problem where watch keep asking me to authenticate my Tesla from iOS app

Sent from my iPhone

[2022-03-24 17:09] itsMeDavidV commented on #49
@abitsoylu That's good to hear, however if your Apple Watch is experiencing pairing issues, it will also disrupt communication between the Watchla watch and iOS app. For the best experience I'd recommend ensuring there are no pairing issues.

[2022-03-25 16:16] #49 closed, assigned to nobody

[2022-03-29 14:40] ddauw commented on #44
I have a similar issue, one complication is showing Miles and another is showing KM, in my case it should both show KM.

![Range](https://user-images.githubusercontent.com/96821582/160637243-b6f554f1-5a9d-4709-8124-06cee556a29e.jpg)

[2022-03-29 16:15] ttwajsb opened #50 "Can’t authenticate Watchla or Authla"
I get the error message shown in attached screenshot on both apps.

![136E4EFF-77B1-4678-9C2D-8F8E8B2897FB](https://user-images.githubusercontent.com/9358980/160657593-a4c2769c-e826-4525-9f95-0122c7a576be.jpeg)

(It’s possible the Reference # differs between apps)

[2022-03-29 16:24] ttwajsb commented on #50
Here's what happens when I try to get my token using Authla.

https://user-images.githubusercontent.com/9358980/160659512-83f28ea8-7f1f-4669-ad29-c0950b43f1c5.MOV

Not clear if screencast uploaded. Here's the iCloud link:
https://share.icloud.com/photos/041WeTvzJkM-xqWw18LQMIcUg

[2022-03-29 16:49] ttwajsb commented on #50
Discovered that the issue arose because I was running a VPN (Surfshark). It would be ideal if your interface alerted users that they must (or may need to) disconnect any running VPNs before attempting to get a token.

[2022-03-29 23:02] itsMeDavidV commented on #44
@ddauw assuming you took these 2 screenshots at around the same time, the 200 mi one seems to have gotten placeholder data. Meaning it has not yet attributed car data to the complications. This could be for a range of reasons--the most common being that either the complication was just added or the Apple Watch was just turned on/restarted. Not excluding other possible reasons. I'm not sure of the

[2022-03-29 23:11] user858753257 opened #51 "Refresh token error"
Hi ,

today I have seen this error in my watch app .

How can I get a new token ?

[2022-03-29 23:18] itsMeDavidV commented on #50
Hi @ttwajsb so in my experience this 'Access Denied' page is actually relatively new and it normally targets one specific account for too many sign ins and/or failed sign in attempts within a short period of time.

If you get this screen you will have to reset the connection (eg: switch to a different network or reset your current network connection). It's important to note that you should be able

[2022-03-29 23:21] #50 closed, assigned to nobody

[2022-03-29 23:41] itsMeDavidV commented on #51
Hi @F3000 have you tried re-signing in on Watchla's iOS app?

If you signed in with a token before v2.3 you will need to provide a new token when your old token expires. The good news is that, unlike before, with the new auth system Tesla implemented you will only have to do this once. Thereafter, Watchla will automatically refresh the token for you.

If you signed in with Tesla from the iOS app a

[2022-03-30 00:24] ttwajsb commented on #50
A couple observations FWIW:
- The error occurred on my first attempt to connect, so in that instance it would not have been a case of too many attempts.
- Interesting that the only difference between not getting access and then getting access was simply to disconnect my VPN. I've encountered a similar issue when trying to use my Tesla app to see my car, and when attempting to log in to Bank of Ame

[2022-03-30 00:26] mosesvii commented on #44
I've just tested my watch face again, I hadn't been back to it since I posted the issue.
Happy to confirm it is indeed working well and showing km for both the complication and the face.
As you suggest, it must have just taken a little while to reconcile when I first installed.

[2022-03-30 00:27] mosesvii commented on #44
Happy to close the ticket unless  DDAUW still has issues.

[2022-03-30 07:53] ddauw commented on #44
Hi,

yes reinstalled everything and now it's working fine. Thanks.

[2022-03-30 08:55] itsMeDavidV commented on #50
@ttwajsb Interesting. I would hope that platforms aren't blocking IPs associated with VPN use. Have you tried using another VPN (not Surfshark)?

Thanks for sharing btw, this is very useful info. I will have to include in-app messaging that tips off users to the fact that VPNs might hinder their sign in experience.

Also just curious, once signed in, did you try re-connecting to Surfshark's VPN? I

[2022-03-30 08:57] itsMeDavidV commented on #44
@mosesvii @ddauw  That's great to hear! Please don't hesitate to re-open this issue should the issue arise again.

[2022-03-30 08:57] #44 closed, assigned to nobody

[2022-03-30 14:32] ttwajsb commented on #50
A few more observations:
- When I tried to open Watchla after turning on Surfshark it wanted me to log in again. So I went to Authla to get a token.
- Curiously, on the Authla main page there's a prominent CopyToken button, so that's what I tried to use in Watchla. I took me several attempts to stumble across the fact that I had to go to Authla's SeeFullResponse in order to locate the two separate

[2022-03-30 16:03] ttwajsb commented on #50
Okay, just reset everything and it's working as intended even after testing on two separate VPN's (Surfshark and my work VPN).
I noticed, though, in Authla it says “Expires in 7 hours” so I'll check back later to see if all's still well.
How can I get a persistent, rather than quickly-expiring, token? Or is the token only needed briefly (ie, up to 7 hrs) when setting up the connection, and then th

[2022-03-30 16:16] ttwajsb opened #52 "Confusing Warning Message"
It is unclear to me whether the Warning about “Do not wake” applies also to “Do not wake in background”. The description for the latter seems to say we can have Watchla gather data from the car without waking it if it's asleep. But the warning leads me to fear that activating “... in background” could cause problems.
Also unclear: what does “accurate vehicle data interruptions can occur” mean? If

[2022-03-30 17:29] ttwajsb commented on #50
BTW, when Watchla is running (fingers crossed the VPN issue doesn't end up throwing things off), I'm delighted to see that I can tap RemoteStart on my Watch instead of having to enter my PIN to drive. And I'll use my frunk a lot more now that I can so easily open it without reaching for my iPhone and navigating to then opening the Tesla app. Thankfully, due to Family Sharing I was able to help her

[2022-03-30 19:01] itsMeDavidV commented on #52
This is a feature for those with heightened concerned over phantom drain. Though this group is a small minority, there are enough users who use and have a need for Do Not Wake functionality, that it warrants its existence. I personally do not use this feature and for the best experience Watchla has to offer, I'd recommend not using it. However, different people have different needs and I'm glad th

[2022-03-30 19:14] ttwajsb commented on #52
This answer is better than what I, in the meantime, found on the FAQ page. You might consider blending this with what's there.

I've never had phantom drain issues since I leave my car plugged in every night, so at least when I'm not traveling I'll go back  to turning off both DoNotWake options. Very much appreciate this clarifying insight.

[2022-03-30 19:27] itsMeDavidV commented on #50
@ttwajsb

Recently, Tesla has deprecated the use of JWT tokens--which lasted about 45 days--for security reasons. Watchla/Authla held on as long as possible, but now both apps are forced to support only the new SSO tokens that last only 8 hours. Not to worry though, these are automatically refreshed for you in Watchla.

Yes. This was set up during the time that JWT access tokens were the only thin

[2022-03-31 13:34] ttwajsb opened #53 "Watchla.app site down"
Tried several times, using different browsers, but can't access your site this morning.  Watchla comes up on Google search but all links fail. Here's a screencast:
https://user-images.githubusercontent.com/9358980/161067054-500c5733-bceb-416a-a762-ef469a5f0703.MOV

[2022-03-31 13:43] ttwajsb opened #54 "Feature Request: Enable Camp Mode"
The Tesla app doesn't allow users to turn on Camp Mode. You have to reach to the car's screen to do so. This is a bother when you're already laying in the back and realize you forgot to turn it on. It's happened to me, then I saw a YouTube about Tesla-camping where the guy alerted campers to that limitation. If the API enables you to add this feature it's one that could be hilited (or commented) o

[2022-03-31 18:38] itsMeDavidV commented on #53
Weird, thanks for reporting this. Looks to be up now. Prob just a temp server issue.

https://watchla.app

[2022-03-31 18:38] #53 closed, assigned to nobody

[2022-03-31 18:48] itsMeDavidV commented on #54
Unfortunately, the Tesla API isn't capable of remotely activating a climate keeper mode (eg: camp, dog, etc) and a custom alternative wouldn't be much better than just turning on climate remotely :(

[2022-03-31 18:48] #54 closed, assigned to nobody

[2022-03-31 18:54] ttwajsb commented on #53
Must be something intermittent. Just tried it five times (Safari, Chrome) and got the error once. Tested with wireless, cellular data, and combo. The once it didn't work was combo, using Safari on iPhone.
Here's hoping it'll stabilize soon. No reply awaited.

[2022-03-31 18:55] ttwajsb commented on #54
Thanks for trying!

[2022-03-31 21:47] Jesstes opened #55 "Not on watch app list"
Hey! I paid for the app & downloaded yesterday, but the app doesn’t show up on my apps for Apple Watch list in the watch app. I’ve restarted, re-paired…still no way to get the app on my watch. All software is up to date.

[2022-03-31 22:06] itsMeDavidV commented on #55
Hi @Jesstes sorry to hear that.

I would try deleting the iOS app and then re-downloading. Then, hopefully after restarting the 'Watch' app on your iOS device you should see the Watchla watch app under 'available apps'.

As an alternative, you can also download Watchla's watch app from the App Store app on your Apple Watch itself.

It's important to note however, that if your Apple Watch and iOS d

[2022-04-01 00:22] ttwajsb opened #56 "Remote Start vs PIN to Drive"
Just noted that, having gotten in the car and tapped the brake to bring up the PIN pad, then tried to use Remote Start in Watchla (hoping to avoid tapping the PIN), after crown is spun it shows the following. There may be a better screen/message to display in that instance. (The arc blinked blue a few times before graying out.)
![image](https://user-images.githubusercontent.com/9358980/161171034-5

[2022-04-01 16:39] ttwajsb commented on #50
Appreciate your thorough and thoughtful responses to the several issues.

Adding one that's so unimportant I didn't want to open a new thread for it, but I wonder if you would consider refining the lightning image inside the complication. All others on my Infograph face are crisp, but that portion of the Watchla icon looks fuzzy and pixelated.
![image](https://user-images.githubusercontent.com/935

[2022-04-01 21:24] ttwajsb commented on #50
Just had a difficult time using Remote Start. Was able to “see” the car via the phone app (unlocked doors from Watchla iOS app) but Watchla on Watch asked three times for my password. Then when it finally said Remote Start was enabled on the Watch, I still needed to enter my PIN.

Could we start a generic Closed thread where I could report stuff like this, or would you prefer I open new cases for

[2022-04-02 18:46] itsMeDavidV commented on #50
@ttwajsb In this case where an issue occurs feel free to start a new issue. That really helps organize things. For suggestions/edits I'll look into starting a discussion section here in this GitHub repository.

[2022-04-02 18:48] itsMeDavidV commented on #50
#@ttwajsb I haven't tested with pin myself, but i wouldn't doubt that the pin barrier would still present even after remote start is enabled. If your'e close enough the Tesla app will actually use a completely different way of enabling remote start (via BLE) that doesn't require a password. Watchla will soon also offer this functionality.

What error messages were you seeing during the times that

[2022-04-04 19:57] itsMeDavidV commented on #55
@Jesstes were you able to resolve the issue? Given the time since last response, I'm going to assume it was resolved and close the issue. However, feel free to re-open if the issue persists.

[2022-04-04 19:57] #55 closed, assigned to nobody

[2022-04-06 22:39] itsMeDavidV commented on #48
Hi @normanmaurer last week Watchla was updated on the App Store and this issue was fixed. To get the fix, just update to the latest version of Watchla.

If this issue still persists for you, please feel free to re-open this issue.

[2022-04-06 22:39] #48 closed, assigned to nobody

[2022-04-14 13:53] StrictMario opened #57 "Apple watch does not sign in"
Hi, I signed in with my phone, but the watch is still not signed in. My support code is NTBc7BB6zg

[2022-04-14 18:13] itsMeDavidV commented on #57
Hi sorry to hear about this. I'll take a look at any error logs that may be attached to your support code and get back to you here with next steps or any relevant info.

[2022-04-14 20:40] itsMeDavidV commented on #57
Hi @ldkmarius so after looking at your error logs it looks like you aren't experiencing any issues with the Tesla api itself which leads to me believe that there was an issue between the communication from the iOS app to the watch app.

Currently the App Store version of Watchla does not have error logging for these kind of communication disruptions, however the beta does. If you'd like, I can add

[2022-04-15 12:11] StrictMario commented on #57
Hi @itsMeDavidV, after updating the phone, the watch, full reinstalling the app on both devices it works now. Thank you for your fast response.

[2022-04-15 12:11] #57 closed, assigned to nobody

[2022-04-15 13:06] Slidevalve opened #58 "Setup Watchla -"
Installed Watchla per instructions.  However, it has not shown up on my Watch “Install” list.  Refreshed watch.  Restarted iPhone.  Uninstalled and reinstalled on iPhone.  Reset all devices and did all of the above again.  Still no Watchla listed on watch app.  Next step?

[2022-04-15 23:48] itsMeDavidV commented on #57
I'm glad to hear that! You're very welcome. Please don't hesitate to reach out if you have any questions.

[2022-04-15 23:54] itsMeDavidV commented on #58
@Slidevalve By what you described, I'd venture to say you might be experiencing pairing issues between your iOS device and Apple Watch.

Here's a helpful article on how to detect and address pairing issues with your Apple Watch: https://support.apple.com/en-us/HT205025

Normally in this scenario I would recommend uninstalling Watchla, restarting your iOS device and Apple Watch, then re-install Wat

[2022-04-15 23:56] itsMeDavidV commented on #46
This issue has long been resolved. If you are experiencing this issue, please update to the latest version of Watchla.

[2022-04-15 23:56] #46 closed, assigned to nobody

[2022-04-18 16:32] itsMeDavidV commented on #58
@Slidevalve given the time since last response, I'm going to assume this was resolved and close the issue. If the issue is still occurring, please feel free to re-open and reach out.

[2022-04-18 17:09] Slidevalve commented on #58
Actually, I tried all of the recommended items again, including resetting my watch to factory and starting all over.  I deleted many of the watch apps just to make sure that was not an issue.  I started from scratch and reloaded your app.  I still does not show up on my iPhone in the Apple Watch app as ready to install.  All the other watch apps I took off are in there ready to be installed.  So,

[2022-04-19 05:54] itsMeDavidV commented on #58
@Slidevalve Are you able to install any of the other watch apps listed or does installation time out?

Also have you tried installing the Watchla watch app from the App Store app on your Apple Watch?

[2022-04-19 10:09] Slidevalve commented on #58
Just installed weather app to watch from phone successfully.

Dennis A. Nease, AIA

Sent from my iPhone

[2022-04-19 18:24] itsMeDavidV commented on #58
@Slidevalve Does installing Watchla from the App Store on your Apple Watch not work?

[2022-04-19 18:28] Slidevalve commented on #58
I may be dense…. But my Apple Watch doesn’t have that app.  What am I missing.

Dennis A. Nease, AIA
WNB Architects, Inc.

Sent from iPad

[2022-04-20 16:28] itsMeDavidV commented on #58
@Slidevalve no worries it can be easy to miss. If you have WatchOS 6.0 or later the App Store should be on your Apple Watch next to all the other ones. I attached a screenshot for reference.

Once you find it, just search for Watchla and tap install.

![image](https://user-images.githubusercontent.com/12491192/164278583-e3a96b64-fcaf-4b46-a344-2091300162a6.png)

![image](https://user-images.github

[2022-04-20 17:38] Slidevalve commented on #58
This may the reason no App Store on my watch.

I’ve followed all on line suggestions to install App Store on watch. None work or match what is on my phone or watch.

Dennis A. Nease, AIA

Sent from my iPhone

[2022-04-20 17:48] itsMeDavidV commented on #58
@Slidevalve Have you checked to see which version of WatchOS your Apple Watch is on?

You can check by going to the "Watch" app on your iOS device, then goto "General" -> "About" and then check the "version" value

[2022-04-22 01:44] adzborowski1234567890 opened #59 "Iwatch stopped connecting"
I watch stopped connecting after a few months of use. When tried restarting the apps did not accept my correct login

[2022-04-22 20:49] itsMeDavidV commented on #59
Hi @adzborowski1234567890 sorry to hear that. Can you send over your Watchla support code to https://watchla.app/contact so I can see if there are any error logs that might explain why this issue is occurring for you?

Support codes can be found in the "Support" screen.

[2022-04-23 01:16] adzborowski1234567890 commented on #59
﻿Thank you, for your quick response.
Acctually i fixed it. Several minutes later i made this working. I reloaded Watchla and reset my password to Tesla
I like your apps.
Thank you.

Sent from my iPad

[2022-04-25 16:08] itsMeDavidV commented on #59
Very glad to hear that and you're very welcome. Also, thank you! Please do consider leaving a review as it really helps Watchla grow :)

Please don't hesitate to reach out if you have any other questions or feedback.

[2022-04-25 16:08] #59 closed, assigned to nobody

[2022-04-28 16:30] itsMeDavidV commented on #58
Hi @Slidevalve Is this issue still occurring for you?

[2022-04-28 16:32] itsMeDavidV commented on #56
@ttwajsb  sorry for the late reply, it's actually not meant to go gray like that, it's supposed to blink blue and green while communicating with vehicle. When it says talking to vehicle it is actually sending a command to the vehicle and waiting for response on next steps.

[2022-04-28 16:32] #56 closed, assigned to nobody

[2022-04-28 16:35] itsMeDavidV commented on #23
Given that there have been no more reports of this as of late, I'm going to close this. If anyone still experiences this issue, please comment on this thread and I'll re-open.

I'm going to assume this was a WatchOS related bug related to the transition from watch only app to watch companioned app. This transition happened back in version 2.0 some time ago and the overwhelming majority have succes

[2022-04-28 16:35] #23 closed

[2022-04-28 16:36] itsMeDavidV commented on #51
Hi @F3000 is this issue still occurring for you?

[2022-04-28 16:37] itsMeDavidV commented on #52
You're very welcome! I will update the FAQs

[2022-04-28 16:37] #52 closed, assigned to nobody

[2022-04-28 18:11] Slidevalve commented on #58
Yes.  No luck.  Last email I sent showed how I was not able to find the APP Store on my Apple Watch and why I thought it might be the issue (early generation watch).  To be honest, I gave up.  I am sort of tech savvy but this one has me stumped.

Dennis A. Nease, AIA
WNB Architects, Inc.

Sent from iPad

[2022-04-28 20:09] itsMeDavidV commented on #58
@Slidevalve Sorry to hear that. I think first step would be confirming your WatchOS version. It would need to be 6.2.6 or above to download Watchla and 6.2 or above to download the App Store app.

If you meet the version requirements and still can't download the App Store app or the Watchla app, I'd recommend reaching out to Apple Support as they should be happy to help with this since it's an OS

[2022-04-28 20:51] zeetaher opened #60 "My watch never shows correct data"
I’m not happy with this software.  It always shows blank on my watch face.  I’ll have to launch the app to see the data on the widgets.  What’s the point in having widgets if I have to launch the app to activate the data for the widgets

[2022-04-28 21:12] itsMeDavidV commented on #60
Hi @zeetaher sorry to hear that. Watchla complications depend on background updates with your car to show correct up-to-date values around every 15 minutes or so (when not in Do Not Wake mode).

In these background updates, your Apple Watch only gives roughly 15 seconds or so to complete this update due to battery preservation requirements for your Apple Watch. So if your vehicle is slow to wake o

[2022-05-02 01:16] ttwajsb opened #61 "Rebuilding Layout"
Super annoying to have to rebuild my custom layout every time I have to re-login. Please set up a way to persist the layout, or at least an easy way to save and reuse in a couple taps. Thanks.
Btw, I’m 5,126 miles into my trip and haven’t used it nearly as much as I thought because it always takes so damn long to Wake/Load—and too often just logs out spontaneously. What can you do to hasten and st

[2022-05-02 19:22] itsMeDavidV commented on #61
Hi @ttwajsb sorry about the long wake/loads. Watchla is still working out the gaps caused by the drastically shorter token expiration times that Tesla recently implemented. Version 2.5 (just released) addresses this in a part 1 of x solution and currently cuts previous wake times by up to 30 seconds. So thats a bit of help. Version 2.6 (still in beta) is very promising and significantly weeds out

[2022-05-04 00:42] itsMeDavidV commented on #61
@ttwajsb also just released v2.6 which should fix a lot of the issues that have led to involuntary sign outs and long load/wake times.

https://apps.apple.com/us/app/watchla/id1546599747

[2022-05-04 00:43] itsMeDavidV commented on #51
Due to the long time between responses, I'm going to assume this issue was resolved and will close it. If it's still occurring, please feel free to re-open this issue and reach out in the comments.

[2022-05-04 00:44] #51 closed, assigned to nobody

[2022-05-14 08:28] tojayng opened #62 "Iwatch Not Syncing with iOS App"
My Watchla app continues to ask me to authenticate with my iOS app. Even though I have already signed on and tried refreshing several times. Also restarted all devices. Continues to not sync and requires authentication on my watch.

[2022-05-18 17:10] itsMeDavidV commented on #62
Hi sorry to hear about this. Have you checked to see if your Apple Watch and paired iOS device are experiencing pairing issues? If so, this could explain why your Apple Watch and iOS device are not communicating your authentication status properly.

Here's a helpful article on how to detect and address pairing issues with your Apple Watch: https://support.apple.com/en-us/HT205025

Also, If you'd l

[2022-05-18 17:11] itsMeDavidV commented on #61
Hi @ttwajsb are you still experiencing sign out issues in v2.8?

[2022-05-18 18:17] ttwajsb commented on #61
Much better lately. Hasn't signed out for several days, and only taking several seconds to wake/load. Starting to get more confident using it. Was able to open my trunk and frunk yesterday by tapping Watch with my nose while my arms were carrying stuff.

[2022-05-19 22:12] itsMeDavidV commented on #60
Hi @zeetaher is this issue still occurring for you?

[2022-05-20 16:57] itsMeDavidV commented on #61
Haha I actually do that all the time. Side note, if you have Hey Siri enabled you can just ask her to do it too. But that's great to hear! Please do let me know if this changes. Performance updates are still rolling out, there should be more sometime next week.

[2022-05-20 16:57] #61 closed, assigned to nobody

[2022-05-21 20:30] marckessels opened #63 "Open/unlock/close charge port complication does not work"
When using the Open/unlock/close charge port complication in the modular watch face, watchla opens, wakes up the vehicle, then show “ loading” and at the instant the range is displayed (had to take a slowmotion video to see what it was), the app disappears (crash?).
when opening the chargeport directly from the watchla app on the watch, it works just fine.
 Reinstalling the app on phone and watch

[2022-05-22 07:23] itsMeDavidV commented on #63
Hi @marckessels thanks for reporting this. I'll try to reproduce this issue on my end and get back to you with an update.

[2022-05-25 17:51] ttwajsb commented on #61
No idea how/why, but Watchla signed out again and now I have to rebuild my Custom Layout. Is there no way you can instruct the system to save across logout/login the most recently configured layout?

Only if not, might there be a way to re-use/move a command? As-is, in order to move the Trunk from [default] bottom right to [my preferred] upper right I must change the bottom right first from Trunk

[2022-05-25 18:04] itsMeDavidV commented on #61
@ttwajsb Sorry to hear that. Would you mind sending over your support code so I can see why you were unjustly signed out?

I'll be sure to add the ability to recover a custom layout. So basically, when you sign in again it will ask you something like "Do you want to recover the previously customized layout or revert to default?"

Also you bring up a good point about the customization process itsel

[2022-05-25 18:39] ttwajsb commented on #61
Support code: PIaoo3rP1P
Also, when I couldn't use RemoteStart shortly ago I signed out and back in. After doing so (and rebuilding my layout) I tried RemoteStart again and it went into a blinking talking-to-vehicle condition, then asked for my password. It's unclear whether that's the PIN-to-drive or the Tesla password. After using PIN a couple times because that's what seemed sensible to me I go

[2022-05-25 19:38] ttwajsb commented on #61
PS - Sorry to be grumpy. Hadn't realized how much I'd already started depending on Watchla until it wouldn't work. :/

[2022-05-26 15:14] itsMeDavidV commented on #61
@ttwajsb no worries,

So passwords for remote start are unfortunately necessary at least once every sign in, here's why:

Passwords for remote start are mandated by Tesla when using RS via the Tesla API for good reason. If someone wrongfully gains access to your Tesla via a Tesla token, they will in no circumstances be able to drive away without also knowing your password.

Tesla is able to access

[2022-05-26 15:16] itsMeDavidV commented on #61
@ttwajsb Also will take a look at your error logs to see why you keep getting forced signed out and get back to you.

[2022-05-26 15:59] itsMeDavidV commented on #63
Hi @marckessels sorry for the late reply, it's been a busy week. I was able to reproduce your issue and implement a fix. The fix will be included in the next update of Watchla, which if all goes well, will be tomorrow.

I will keep this issue open until that update with the fix is available on the App Store so that others may see this info as well.

Sorry again for the inconvenience!

[2022-05-27 10:16] itsMeDavidV commented on #63
Update: App Store update containing the fix will most likely be released Saturday EST

[2022-05-27 18:39] ttwajsb commented on #61
Is it essential that the password for Remote Start be entered on the Watch itself? Why can't that be confirmed in the iOS app? I understand that I'm required by Tesla to confirm authority to use RS, but don't understand why that credential check can't be performed just as securely in the app, then setting a flag to tell the Watch that it's cleared to operate.

If it has to be on the Watch, would i

[2022-05-30 05:09] itsMeDavidV commented on #63
@marckessels a new Watchla update (v2.9) with the fix for this issue has just been released to the App Store.

Thanks again for reporting this!

[2022-05-30 05:09] #63 closed, assigned to nobody

[2022-05-30 17:18] marckessels commented on #63
@itsMeDavidV thanks, just checked (and after a forced update of the app on the watch) it now works as intended! Well done 👍🏻

[2022-05-30 17:24] itsMeDavidV commented on #63
@marckessels Thank you! You're very welcome 😊

[2022-05-31 10:40] khbue opened #64 "Apple Watch and "Driving with PIN""
When Driving with PIN, you have to enable the car to drive with your PIN. This is true, when using the smartphone. By using the Apple Watch for driving, the car does not require the PIN. You just can drive.
Please change Watchla accordingly.
Greetings from Germany! Karl

[2022-06-03 14:03] itsMeDavidV commented on #62
@tojayng Are you still experiencing this issue? If so, please feel free to re-open this issue and reply back. Thanks!

[2022-06-03 14:04] #62 closed, assigned to nobody

[2022-06-03 14:05] itsMeDavidV commented on #60
Closing this issue since last response was a while ago. If the issue persists, please feel free to re-open and reply to this thread, thanks!

[2022-06-03 14:05] #60 closed, assigned to nobody

[2022-06-07 09:05] itsMeDavidV commented on #64
@khbue Hi Karl,

Assuming you're referring to the official Tesla app, when using Pin  to Drive you actually don't need to enter your pin when engaging in remote start (This could be different in Germany).

Furthermore, the Tesla API doesn't need or request pin verification to initiate Remote Start.

If this is not the case in your region please do send a video so I can better understand from your

[2022-06-08 16:52] itsMeDavidV commented on #61
@ttwajsb Added the ability to recover a previous layout eliminating the need to re-make one. Thanks for the feedback/inspiration that led to this!

![image](https://user-images.githubusercontent.com/12491192/172673087-c8a0bb1c-603c-4088-86be-84de2ced3c00.png)

[2022-06-08 17:00] itsMeDavidV commented on #61
@ttwajsb Unfortunately pin to drive has almost no affect remotely, it's mainly a security feature in the vehicle itself. Tesla doesn't offer pin to drive verification for RS. That would be awesome though!

As for password entry you can always enter the password on your phone and it will reflect in the textfield on your watch--if this is not the case for you, please do let me know.

Watchla's watch

[2022-06-19 12:21] ttwajsb commented on #64
I would not want to have to enter a PIN on my Watch in order to activate Remote Start. The whole point of doing so from my Watch is the convenience of not doing so on the car screen, while still having the security of PIN to Drive in the car so that if (when!) I inadvertently leave my phone in my car and walk away, no-one can drive away with both. I've found the status quo to be the ideal conditio

[2022-06-19 12:30] khbue commented on #64
Good point!! Since the watch always remains on the wrist, there is no risk, one can drive my car.
Thanks!

Viele Grüße!  Best regards!

Prof. Dr. Karl-Heinz Büttner

Mobil:  +49 160 7559032
Email:  ***@***.***

[2022-06-19 12:34] ttwajsb commented on #61
Thanks for the Twitter shout-out, David.

Something's more stable these days as I've not had to re-login for at least a couple weeks. I have, though, encountered a situation I'll try to describe.

I tap Remote Start icon and it displays this screen: https://share.icloud.com/photos/049eGFFpzRlzglw6EyMIDP9xA

Thankfully at least, when I simply open the iPhone app the Watch then catches on and starts

[2022-06-19 12:46] ttwajsb commented on #9
This may be R**W**S rather than RVS (ie, having the icon show the relevant Watch status), but here's something on my Wishlist.

Could you have the Watch display its connected status. For instance, on my main Watch screen I have my Watchla icon. Ideally it would be as-is when not connected to the vehicle, but the charge icon inside the green circle, say, turns yellow when the condition is that Watc

[2022-06-27 18:20] Cactus1906 opened #65 "Model Y requests key card for driving"
Watchla installed everything locks ok. Using watchla i am able to do commands like open, close the car, open close trunk, open frunk and so on. But if i want to drive, the car requests to see the key card.

[2022-06-30 13:50] IanBurrows opened #66 "Won't wake up"
Tesla won't wake up.

[2022-07-06 19:40] #64 closed, assigned to nobody

[2022-07-06 19:43] itsMeDavidV commented on #61
You're welcome!

Thanks for sharing this, definitely shouldn't be happening--I'll take a look.

[2022-07-06 19:52] itsMeDavidV commented on #9
Ooo not a bad idea 🤔 -- I'll definitely consider this or an adaptation of it.

Watchla has a low tolerance for wake checks. Meaning, ideally Watchla will want to confirm the vehicle is awake if the last contact was <= 1-2 min. This is for good reason as when the vehicle will fall asleep is unpredictable and if a data load is attempted while the vehicle is asleep it will lead to a much longer and l

[2022-07-06 19:57] itsMeDavidV commented on #65
Hi @Cactus1906 sorry for the late reply. Currently Watchla offers Remote Start which you can use to gain access to drive your vehicle. Just simply select the Remote Start command and follow the prompts to initiate driving capabilities.

[2022-07-06 19:57] #65 closed, assigned to nobody

[2022-07-06 20:03] itsMeDavidV commented on #66
Hi @IanBurrows sorry to hear this and sorry for the late reply.

There could be a number of reasons why the Tesla API reports that your Tesla won't wake up. The most common are: your vehicle doesn't have a good connection to the internet or your vehicle was in deep sleep and did not wake before the Tesla API or the client app (ie: Watchla) timed out the request.

If you send me your Watchla suppor

[2022-07-06 21:59] ttwajsb commented on #9
Cool. Looking forward to what's ahead. THx.
BTW, my frequent use cases are Remote Start and Frunk. I do wish I could also enable Dog Mode from my Watchla.

[2022-07-06 22:04] itsMeDavidV commented on #9
You're welcome! Both of those use cases will have a drastically lower wait time in v3--Watchla will be almost instantaneously ready to execute both no matter the load state.

Also you can enable/disable dog mode from Watchla! See here👇🏽

https://twitter.com/watchlaapp/status/1542215106284716032?s=21&t=ln96DrXWxlC5FjxsBSTp5A

[2022-07-06 22:31] ttwajsb commented on #9
Good to see. Thanks for pointing me to that. So the next enhancement in that respect would be to enable the paw-print icon on the main watch screen. I'd use that more than the Climate feature itself.

[2022-07-06 22:34] itsMeDavidV commented on #9
Will do.

[2022-07-07 11:28] IanBurrows commented on #66
I’ve got it working. It does take a long time to wake!

Sent from
Ian Burrows

[2022-07-12 04:22] itsMeDavidV commented on #66
Sweet! Good to hear.

Wake times can take a bit longer depending on the internet connection to the vehicle.

Please don't hesitate to reach out if you experience any issues!

[2022-07-12 04:22] #66 closed, assigned to nobody

[2022-07-13 20:52] Hultmann00 opened #67 "Can’t connect app to watch"
Hey. I can’t connect the watch to the app on the phone. Have tried to uninstall the app but that didn’t work either.

[2022-07-13 21:21] itsMeDavidV commented on #67
Hi, sorry to hear that. If you send over your Watchla support code to https://watchla.app/contact I can check out your error logs and see what exactly is causing the communication disruption between the Watchla iOS & watch apps.

However generally watch-to-phone communication issues happen because of pairing issues between the phone and watch.

Some possible steps to take in the mean time:

- sign

[2022-07-13 21:59] Hultmann00 commented on #67
Hi, my support code is iZzXjQb5H2

ons. 13. jul. 2022 kl. 23:21 skrev David Villegas ***@***.***

[2022-07-14 17:40] itsMeDavidV commented on #67
Hi @Hultmann00 so after reviewing your error logs it appears you did encounter a few instances where your iOS device did not register that the watch app was installed.

I'd recommend restarting your Apple Watch and iOS device, if all goes well this should reset things back to normal working order. If that does not work, I'd recommend re-pairing your Apple Watch with your iOS device.

Please do kee

[2022-07-22 00:34] ttwajsb commented on #61
Hey, just encountered the new Recover Previous Layout feature  for the first time and it worked great! Thanks SO much for implementing that.

[2022-07-22 21:04] itsMeDavidV commented on #61
@ttwajsb That's awesome! Im glad to hear that.

Sorry if you were possibly unintentionally signed out again? If so, can you send over your support code so I can have a look at any sign out errors that took place? -> https://watchla.app/contact

[2022-07-22 22:03] ttwajsb commented on #61
PIaoo3rP1P

Yeh, I've actually been experiencing sign-in issues the last few days, and the Watch has been really slow about connecting, and fairly often refusing to do so at all.

[2022-07-24 16:51] ttwajsb commented on #61
Rebuild layout worked again, but shouldn't have needed it. Used Watchla to go for coffee earlier, and when I went back to the car afterwards to go home the app had logged out spontaneously.

[2022-07-27 22:32] ttwajsb opened #68 "Entering Tesla password on Watch"
My passwords are 15 jumbled characters and it'sa real pain to have to scribble them whenever this (attd image![image](https://user-images.githubusercontent.com/9358980/181383827-0fceea14-c55c-4df3-a012-6a25df78f69b.png)) appears. Is there no way to do this authentication on the iPhone?

[2022-07-28 23:13] itsMeDavidV commented on #68
@ttwajsb yeah that's annoying--sorry about that. One of my top priorities before v3 is to make it absolutely impossible to be signed out unintentionally.

Did you get this error alert by chance?

![signout-error](https://user-images.githubusercontent.com/12491192/181652318-81314a53-c378-4813-983f-a1d4edc7152c.jpeg)

[2022-07-28 23:15] itsMeDavidV commented on #68
Also going to add the ability to input RS password in iOS app

[2022-07-29 00:44] itsMeDavidV commented on #68
Just completely eradicated this 👆🏽 from alpha build. Still needs new messaging & adaptation, but main directive here is -> don't sign out, unless told to. This change will reflect in next App Store update.

In almost all cases, an unintentional sign out like this occurs because of a lapse in internet connectivity to the Apple Watch when trying to update/refresh one's expired token (exp happens eve

[2022-08-01 20:48] ttwajsb opened #69 "Auto-revert from Keyless Enabled"
Please have the Watch revert to the main screen after either the keyless has been enabled on the car or the two minutes has elapsed. It's annoying that even much later when I look at my watch again it's still displaying the now-obsolete and thus useless screen instead of showing the options I may next want to use.
Thanks as always for listening. I've been telling my Tesla pals about Watchla.

[2022-08-02 14:16] ttwajsb commented on #68
I think one of the complications has to do with VPN. I find myself having to disconnect VPN every time I want to use the Tesla app. It was happening so often on my current road trip that I've finally turned off VPN for the time being—even though the protection from VPN is even more important while traveling than when at home. Anyway, you might check into whether VPN on/off is affecting the Watchla

[2022-08-02 17:35] itsMeDavidV commented on #68
Good to know. Unless your VPN is in China and are a non-China user (or vice versa) you shouldn't be affected by VPN. However I'll still investigate to see if there are any other VPN related conflicts with the Tesla API.

[2022-08-07 16:32] ttwajsb opened #70 "Inconsistent Readiness"
I LOVE Watchla the many times it works well and quickly. I'm baffled about how often it gets stuck. I can use a couple features without delay, then a couple minutes later it's stuck. Here are three instances in the last couple days, each with a slightly different display condition.

https://share.icloud.com/photos/086voEo1fEnBN9OYOcWNq5_TA

https://share.icloud.com/photos/041Nan9AkxhCgATNKVIDqGCyQ

[2022-08-08 06:22] itsMeDavidV commented on #70
@ttwajsb Thanks for this feedback. Quick question, in the last video did the vehicle ever finish waking? Also was your vehicle connected to WiFi at the time?

[2022-08-08 12:56] ttwajsb commented on #70
Sorry but don't recall whether in those instances it eventually connected or I just gave up. I'll pay more attention to that next time and send a follow-up.

Overall, my unscientific impression is that it works great maybe 60% of the time.

I've told a couple other Tesla drivers about Watchla in the last two weeks on my road trip (this time Montana) because despite the issues I've faced I have hig

[2022-08-08 19:22] itsMeDavidV commented on #70
@ttwajsb Ok so for this specifically:

- Infinite range indicator loading thingy bug has been resolved
- Wake polling on Watchla's side is now double the speed--hopefully this translates to significantly faster wake times

Also in addition to that, I removed the bug that caused involuntary sign outs on the Watch app. You were probably more prone to this bug, because you probably drove through plac

[2022-08-11 17:13] itsMeDavidV commented on #70
@ttwajsb happy to report that v2.94 has recently been released to the App Store and I wanted to see if you have updated by chance? And if so how is your experience going so far? Are you seeing shorter wake times / quicker readiness?

[2022-08-11 19:24] ttwajsb commented on #70
Sad to say little visible improvement. However, I've been traveling with limited internet so when I get home where is confidently stable I'll be able to gauge whether is better more of the time. Last couple days...

https://share.icloud.com/photos/03cnbzg4b4F-cFlmgqVBZHtFg

https://share.icloud.com/photos/075HplmExmTX4bTr9HO41q0zA

https://share.icloud.com/photos/0fbL6nRC5elUSDUIKeoUScdyQ

https:/

[2022-08-11 19:25] ttwajsb commented on #70
And yes, this is 2.94 (165)

[2022-08-11 22:06] itsMeDavidV commented on #70
@ttwajsb Yeah this does seem to be an internet speed issue. Even with slower wake polling, on a decent connection (for both device and vehicle) it should just be a few seconds.

In reference to 2nd screenshot, you can have a stronger signal to local cell towers, but the speed itself can vary. This happens a-lot in rural areas. Also keep in mind that your Tesla runs on AT&T cell towers and internet

[2022-09-03 02:31] jschroebel opened #71 "“Set temperature” shortcut > HI setting"
I was trying to use the “set climate temperature” Siri shortcut to lower the car’s temperature by a couple degrees. The car was set to 68, so I input 66. However, the car’s temperature setting went immediately to “HI”.

[2022-09-03 02:33] itsMeDavidV commented on #71
@jschroebel Sorry to hear that. I'll check this issue out and get back to you here with an update.

[2022-09-16 18:43] user858753257 opened #72 "Feature request : Add iOS 16 homescreen widget"
the small widgets should be the same like on the watch

[2022-09-20 16:03] Gold931 commented on #70
It sounds like I’m having the same issue. I’d say more often than not my commands time out, whether I’m using my watch, or my phone, whether I’m at home on Wi-Fi or out. Sometimes though, it works right after I get the timed out message.

[2022-09-21 14:07] Pdog135 opened #73 "Remote Start not working"
2022 model 3 LR
Remote start has error message after I enter my password from watch. I  entering my Tesla account password. Please advise, it the app broken of is there some other password that has to be set up of added somehow

[2022-09-21 21:16] itsMeDavidV commented on #72
Coming soon!

[2022-09-21 21:16] itsMeDavidV commented on #72
Will update here when it's out

[2022-09-21 21:18] itsMeDavidV commented on #69
Thanks for the support! And good call, I'll fix that 👍

[2022-09-21 21:27] itsMeDavidV commented on #70
@Gold931 a lot of this is dependent on the internet speed that your Tesla has. If it's slow on average or it's prone to deep sleep (eg: you routinely keep Sentry Mode off) you will be more likely to experience time-outs since it might take longer for your vehicle to wake and/or relay data back to Tesla servers.

It might be helpful to go on your Tesla's web browser and do an internet speed test to

[2022-09-21 21:34] itsMeDavidV commented on #73
Hi @Pdog135 as of the time of this comment, I can confirm Remote Start is working normally in Watchla. You might have entered an incorrect password. It can be kind of cumbersome to enter your password from the watch, so I definitely recommend opting to type it on your paired iOS device, instead.

Also, if you'd like to send your Watchla support code to https://watchla.app/contact/ I can take a loo

[2022-09-21 21:44] Gold931 commented on #70
Thanks. Just turned Sentry mode on, let’s see if that helps.

[2022-09-21 22:02] Pdog135 commented on #73
I have tried it from using my phone to input the password also like you
suggested, it is still not working.
I have attached my support code

On Wed, Sep 21, 2022 at 4:36 PM David Villegas ***@***.***>
wrote:

[2022-09-21 23:41] itsMeDavidV commented on #73
@Pdog135 Sorry, I can't seem to find your support code from Watchla's contact page? Where did you happen to attach it to?

[2022-09-26 16:22] Pdog135 commented on #73
I wanted to follow up with you since it has been several days since we last
spoke
On Wed, Sep 21, 2022 at 7:19 PM Perry Desbien ***@***.***>
wrote:

[2022-09-26 16:56] itsMeDavidV commented on #73
Hi @Pdog135 as I mentioned in my last reply, I didn't seem to receive your support code in Watchla's contact inbox.

Email me your support code directly here: david@watchla.app and I'll get back to you as soon as I can.

Thanks!

[2022-09-26 16:58] Pdog135 commented on #73
nkt1fPLpEo

Email me your support code directly here: ***@***.*** and I'll get

[2022-09-27 04:34] itsMeDavidV commented on #73
Hi @Pdog135 after looking at your error logs, it seems as though on 7 occasions Tesla had blocked you from waking and/or sending commands to your vehicle. This seems to be an isolated incident, nonetheless I am personally getting to the bottom of this to make sure Watchla does everything it can (within its control) to prevent this from happening again.

By chance, did you happen to change password

[2022-09-27 04:39] Pdog135 commented on #73
I did not change anything. The other Tesla functions are working fine. I
used the same password when I logged into the Watchla app
I did not use a token, I just put in my Tesla user name and password

On Mon, Sep 26, 2022 at 11:34 PM David Villegas ***@***.***>
wrote:

[2022-09-27 04:46] itsMeDavidV commented on #73
Ah ok as a test, can you sign out, then sign back in and attempt 2 commands (eg: lock/unlock or flash lights)?

This will help us determine whether this an issue related with your current authorization status or something more persistent.

[2022-09-27 19:16] Pdog135 commented on #73
I did as you requested and I am getting the same error message

On Mon, Sep 26, 2022 at 11:46 PM David Villegas ***@***.***>
wrote:

[2022-09-27 20:19] itsMeDavidV commented on #73
@Pdog135 ok so that test was actually very helpful. Looking at the logs it seems that after signing out and then back in, this issue on the iOS app corrected itself and you were able to successfully use Remote Start on the iOS app. This tells us that it was most likely an issue with that specific authorization token set. It seems as though Tesla specifically blocked you from engaging Remote Start

[2022-09-27 21:43] Pdog135 commented on #73
I followed those steps and it did not work also

On Tue, Sep 27, 2022 at 3:20 PM David Villegas ***@***.***>
wrote:

[2022-09-28 00:17] itsMeDavidV commented on #73
@Pdog135 Just a heads up, I replied to your email and also had a TestFlight invite to the beta emailed to you. Please email me or reply here if you have any questions!

[2022-09-28 03:30] Pdog135 commented on #73
It still does not work with the beta app

On Tue, Sep 27, 2022 at 7:17 PM David Villegas ***@***.***>
wrote:

[2022-09-28 03:33] itsMeDavidV commented on #73
@Pdog135 Yep as I mentioned in email, there are updates coming to beta tomorrow morning (PST) that will directly address some of the issues you face.

Thanks for your patience.

[2022-09-28 09:20] itsMeDavidV commented on #73
@Pdog135 So after further review of the logs associated with your support code, I've identified that Tesla is explicitly requiring that you re-log in as they are responding to your Tesla API requests with the following message: `"error": "login_required"`.

Re-logging in should immediately resolve your issues, however there are still Watchla updates rolling out to address the issue that you faced

[2022-09-28 11:35] InElonWeTrust opened #74 "Shortcuts don’t work on Apple Watch"
Although I marked “show on Apple Watch” in my shortcut settings, my watch still doesn’t recognise any Siri command for Watchla. So for me, it makes the application rather uniseful.  All commands work on iPhone and also I can send comments by tapping on Apple Watch complications. I tried to close Shortcuts application on iPhone and also on Apple Watch and even did a hard reset. I have to mention th

[2022-09-28 14:25] Pdog135 commented on #73
Thank you so much for you help. It did work correctly. I will share this
app with my Tesla community and wish nice things for you. You went above
and beyond to fix this and I appreciate i.

On Wed, Sep 28, 2022 at 4:20 AM David Villegas ***@***.***>
wrote:

[2022-09-28 23:19] itsMeDavidV commented on #74
Hi @InElonWeTrust sorry to hear that. Do the Watchla Shortcuts that you added at least show up on the "Shortcuts" app on the watch?

And by chance did you look over the FAQs (https://watchla.app/faqs) and follow the instructions regarding Siri Shortcuts on Apple Watch?

I'll investigate this issue and get back you as soon as I can.

In the meantime, can you send over your support code so I can see

[2022-09-29 03:03] itsMeDavidV commented on #73
You're very welcome! I'm glad it all worked out :)

[2022-09-29 03:03] #73 closed, assigned to nobody

[2022-09-30 22:11] itsMeDavidV commented on #74
Hi @InElonWeTrust  just wanted to follow up with you and see if this issue is still occurring and if so were you able to locate your support code?

[2022-09-30 22:20] InElonWeTrust commented on #74
Support code caIV46jMmjWiadomość napisana przez David Villegas ***@***.***> w dniu 01.10.2022, o godz. 00:12:﻿
Hi @InElonWeTrust  just wanted to follow up with you and see if this issue is still occurring and if so were you able to locate your support code?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-09-30 22:21] itsMeDavidV commented on #68
@ttwajsb quick update: looks like Tesla has taken off the password requirement for Remote Start. Watchla beta has adapted to this. Once current beta passes, no passwords will be needed in new App Store update :)

I'll close this issue when that update gets released.

[2022-09-30 22:22] itsMeDavidV commented on #67
Hi @Hultmann00 its been a while since we last spoke, is this issue still occurring?

[2022-09-30 22:27] ttwajsb commented on #68
Cool. Thanks for the update.
Troy

[2022-09-30 22:55] ttwajsb commented on #70
Gotta say, it's still highly variable, and more than half the time frustratingly slow. And it's so inconsistent. I can't figure out when it's gonna be lickety split and when I'll have to wait—and not uncommonly give up. (Are all my attempts visible to you in a log?) I was traveling last weekend and sometimes, boom, right there when I launched; other times, ratso. But at home, at least, I'd sure lo

[2022-10-02 08:26] LexNastin opened #75 "Bluetooth Support"
Hey @itsMeDavidV! I was wondering your app Watchla has any Bluetooth support. (also, might try it within a few months if remember, bc gonna switching Android -> iPhone soon :D)

[2022-10-03 23:50] itsMeDavidV commented on #75
Sent ya an email :)

[2022-10-03 23:50] #75 closed, assigned to nobody

[2022-10-04 01:33] itsMeDavidV commented on #74
@InElonWeTrust I have just a few questions for you as I investigate this issue further:

- Have you tried calling the "Lock my Tesla" Siri Shortcut on your Watch? If so, any success?
- Also is there a specific Siri Shortcut that you have tried and doesn't work or is it all Siri Shortcuts?
- You mentioned that Siri doesn't recognized the Shortcut, have you tried changing the voice phrase for the Sh

[2022-10-04 06:43] InElonWeTrust commented on #74
Apple Watch Didn’t react to any command. There were also no commands in shortcut application on Apple Watch at all, but marking Shortcuts application in iCloud settings solved the problem.The question is why the other shortcuts but the Watchla that I have, worked properly and were visible on Apple Watch. Wiadomość napisana przez David Villegas ***@***.***> w dniu 04.10.2022, o godz. 03:33:﻿
@InElo

[2022-10-11 07:59] abitsoylu commented on #49
Sounds good thank you

Sent from my iPhone

[2022-10-11 08:03] Slidevalve commented on #58
Yes.  I attached that screen clip.  It is:

Version 4.3.2, Model NJT2LL/A.

Dennis A. Nease, AIA
WNB Architects, Inc.

Sent from iPad

[2022-10-11 09:03] Pdog135 commented on #73
It is in the body of the email

On Wed, Sep 21, 2022 at 6:41 PM David Villegas ***@***.***>
wrote:

[2022-10-12 17:53] itsMeDavidV commented on #74
@InElonWeTrust I'm glad to hear that you were able to sort this out. So from what I gather, you got them to show up on Apple Watch after you did an iCloud sync?

Unfortunately the Shortcuts app is known to be unpredictable and syncing from iOS to WatchOS sometimes does fail. This is a known issue that doesn't discriminate between Shortcuts or the apps that provide them. And apps, like Watchla, hav

[2022-10-12 17:53] #74 closed, assigned to nobody

[2022-10-14 18:34] dlfx opened #76 "Siri Shortcut as automation doesn't work"
Not sure if it should become a feature request or if it's actually a bug on watchla side or even iOS...

I tried setting up an automation from the iPhone Shortcut app to "Turn On Climate" based on day of the week & time so that I don't have to manually do it in the tesla app twice a day (morning and afternoon).

When it's running the automation, it's returning this error:
INCExtensionErrorDomain e

[2022-10-14 18:46] itsMeDavidV commented on #76
Hi @dlfx I suspect this could be a bug with the Shortcuts app.

To rule out any Watchla issues can you manually try the "Turn on Climate" Shortcut by itself without any automations, both in the Shortcuts app and via Siri?

Once you get back to me with the results of this, I should have the info necessary to investigate this further.

PS: There also could be another scenario where Shortcuts/iOS is

[2022-10-14 18:59] dlfx commented on #76
The Turn On Climate (or any other) shortcuts I tried are working, both manually in the Shortcut app and through Siri.

As you suspected, it's not working because I was asking it to execute the automation without asking for confirmation, I just tried by telling the automation to ask before executing, and then it worked.

Apparently it has to do with trying to run without getting a confirmation in t

[2022-10-16 11:51] MarianKoleff opened #77 "watchla app won't authenticate on iwatch"
For some reason the iwatch app keeps telling me to authenticate the ios app with tesla.com. I’ve signed out and logged in again and the issue persists.

My code: RARvPWBeJs

[2022-10-17 05:31] itsMeDavidV commented on #77
Hi @MarianKoleff sorry to hear of this. Since your Apple Watch and iPhone are not communicating properly you may have different support codes for the watch and iOS apps. If they are different, can you also provide the support code listed in the watch app? You can find it right from the Sign In screen on the watch app by scrolling down, tapping "Support" and then "Support Code".

From your iOS erro

[2022-10-17 05:40] itsMeDavidV commented on #67
Given that this issue has gone inactive, I'm closing it. If the issue persists, please feel free to re-open it and reply to this thread. Thanks!

[2022-10-17 05:40] #67 closed, assigned to nobody

[2022-10-17 05:43] itsMeDavidV commented on #68
As of the [v2.96 update](https://apps.apple.com/us/app/watchla/id1546599747) passwords are no longer required for Remote Start, so closing this :)

[2022-10-17 05:43] #68 closed, assigned to nobody

[2022-10-17 07:44] MarianKoleff commented on #77
I've re-paired the iwatch and it works now.

[2022-10-18 19:23] itsMeDavidV commented on #77
Awesome, I'm glad to hear that this issue was resolved. Please don't hesitate to reach out if you have any questions or feedback.

[2022-10-18 19:23] #77 closed, assigned to nobody

[2022-10-18 19:36] itsMeDavidV commented on #76
@dlfx yeah that's what I suspected and that most certainly would indicate a bug with iOS.

App provided shortcuts are supported by app intents and these intents are configurable. One of the things you can configure is whether or not the intent needs user confirmation to run. The intents behind Watchla's shortcuts **Do Not**  need user confirmation to run.

Now you can always toggle user confirmati

[2022-10-21 17:05] ttwajsb commented on #68
Great news! Thanks, David.

[2022-10-23 20:36] itsMeDavidV commented on #68
You're very welcome!

[2022-10-31 17:07] dlfx commented on #76
Closing as it looks to be iOS related.

[2022-10-31 17:07] #76 closed, assigned to nobody

[2022-11-06 19:53] user858753257 opened #78 "(Feature request) Display charge indicator in battery state widget"
Is this possible ?

[2022-11-07 21:45] itsMeDavidV commented on #78
Hi @F3000 were you referring to something like this (see screenshot) or a different type of indicator?

![image](https://user-images.githubusercontent.com/12491192/200421870-180bcac6-3e09-4892-9606-5787b14eee6d.jpeg)

[2022-11-09 00:14] user858753257 commented on #78
I mean the left one in this picture .

Maybe you can include an "flash" symbol during charging

[2022-11-09 00:14] user858753257 commented on #78
BTW: can the cat sleep with activated Homescreen widgets ?

[2022-11-09 18:40] itsMeDavidV commented on #78
@F3000 ah okay sorry I was confused at first, but now I know what you mean. Yes I can totally add a charging active indicator.

Also just like complications on your watch, widgets will have to periodically wake your vehicle to refresh the data that is displayed.

You can turn on Do Not Wake or Do Not Wake in Background. In the event that Widgets are not allowed to wake your vehicle, they will rely

[2022-11-10 21:18] ttwajsb opened #79 "VPN must be paused to connect"
Lately I've had to switch over to Surfshark and pause my VPN in order to have Watchla work. Can anything be done to work around this? Very inconvenient. :/

[2022-11-10 21:19] ttwajsb commented on #69
Still looking forward to seeing this in the Release Notes.
T

[2022-11-13 19:42] itsMeDavidV commented on #79
@ttwajsb Could be because the VPN is routed through China or another country that Tesla Servers have special considerations for. Can you send in your latest support code?

[2022-11-13 19:44] itsMeDavidV commented on #69
@ttwajsb sorry for lack of updates on this issue. As of version 2.96 (released mid October) Watchla now proactively updates Remote Start active/inactive states. If your Remote Start activation period ends or Remote Start has been confirmed in the vehicle, Watchla's UI will reflect that change within seconds.

[2022-11-14 14:46] ttwajsb commented on #79
13LbK9ztMf
I see no indication that Surfshark is sending me outside the US. I've been selecting a Los Angeles hub, and it displays my location as US. However, just now I decided to try out using a static IP in New York, and that initially seems to be allowing me to log in to Watchla even in VPN mode (though I still had to pause VPN in order to get to the Support > Other page).
So I'll leave Surfsh

[2022-11-14 15:12] ttwajsb commented on #69
I'm on 2.98 now and at 6:50am this morning I spun the wheel to activate Remote Start. I then went out and started the car, put it in Drive, put it in Park, and 21 minutes later at 7:11am I'm still seeing the “Remote Time expired...” screen on the Watch.
![image](https://user-images.githubusercontent.com/9358980/201695475-20cc50f4-7f16-4015-bd27-f4319dc174f7.png)

[2022-11-14 16:29] ttwajsb commented on #69
And as you'll see here, I'm still seeing the same thing 55 minutes later.
![image](https://user-images.githubusercontent.com/9358980/201713442-08215505-2490-426b-8d46-122da77c474a.png)

[2022-11-14 16:48] itsMeDavidV commented on #69
@ttwajsb Yes, this is normal behavior. When you're on the Remote Start screen and your previously active Remote Start session expires, the Remote Start screen will show this message to reflect that.

When you take the car out of park, your RS session automatically expires even if there was still time left.

[2022-11-14 16:59] itsMeDavidV commented on #69
I suppose Watchla could also indicate an actively driving state in this screen as well--will consider that.

[2022-11-15 15:18] amy26point2 opened #80 "Watch complications have no icon"
I have uninstalled and reinstalled the app. The watch face I have with the Watchla complications is showing just dotted lines where the complication icon should be. If I edit the watch face from the watch, the only complications showing icons are vehicle status, battery state, range, and climate status. All others are blank.

[2022-11-15 18:49] itsMeDavidV commented on #80
Hi @amy26point2 thanks for reporting this, that's concerning. Can you please send over your Watchla support code to my email: david@watchla.app and can you please post a video of this behavior happening to this comment thread?

[2022-11-16 03:03] amy26point2 commented on #80
Here is a video of the watch complications. Apologies for the one handed shooting. As you can see, the behavior of the complications work but the icon is blank. The photo is the setup.
![A7438998-CE41-4942-B0B4-5346D70993B9](https://user-images.githubusercontent.com/77081911/202073236-964fa2e8-c9f9-4815-a03e-37a71deb4db0.png)
 [Video](https://share.icloud.com/photos/0d2iySsNa8sqpNxv-Zi6dLfkQ)

[2022-11-16 17:38] ttwajsb commented on #69
This doesn't make sense to me, David. Once the car has been put in Drive, it seems that Watchla should return to its Home Screen and be available for whatever next action I want to take. What reason is there—at all—for it to remain in this state, or a similar state even if that similar state shows actively driving. What might I want or be expected to do with this screen once it's completed its act

[2022-11-16 18:40] itsMeDavidV commented on #79
In general, changing IPs can really throw off Tesla servers, especially while using the same auth token set. Also, as I said before there are really big factors at play here, vehicle, Tesla Servers, your watch/its paired device (& their own signal strength). Haven't gotten a chance to investigate as of yet (really backed up) but I will get to it ASAP

[2022-11-16 18:49] itsMeDavidV commented on #80
Edit: There's been a correction to this, please see my comment below.

@amy26point2 Thanks for that, this helps a lot.

I do believe that you have discovered an asset bug that only affects Apple Watch Ultra users (Apple Watch Ultra has a different set of asset requirements for complications than other Apple Watches)

I will work on a fix ASAP and push out an update with the fix to the App Store as

[2022-11-16 19:24] itsMeDavidV commented on #69
@ttwajsb I see where you're coming from, but in addition to executing the command, the Remote Start acts as a value indicator and a full screen confirmation of whether RS is active or not. Many people don't fully understand how RS actually works and what to anticipate. After RS is initiated, it indicates auth status, how much time you have to start driving and in iOS's case how to confirm RS in ca

[2022-11-16 20:26] itsMeDavidV commented on #80
@amy26point2 Sorry correction:

In your particular case you are not experiencing the bug mentioned above (after investigation its been determined that bug only applies to a small subset of available watch faces) That bug has been corrected and will be included in next update.

So unfortunately this is more isolated to your case. I will investigate further and report back to you ASAP.

Thank you fo

[2022-11-16 23:57] amy26point2 commented on #80
Thanks, David! At least it helped you solve one issue. No need to rush on my behalf.

[2022-11-18 02:26] itsMeDavidV commented on #80
@amy26point2 you're very welcome!

For some reason the iCloud link you attached containing the video isn't playing and is only showing a photo. Could you re-upload that video directly to GitHub here in this comment thread?

Thanks!

[2022-11-18 03:16] amy26point2 commented on #80
I’ve tried shrink the video to numerous sizes and it will not upload. Can I email it to you?

[2022-11-18 03:18] itsMeDavidV commented on #80
@amy26point2 Yes that works also!

[2022-11-19 19:04] GalinL opened #81 "Tesla Model E will not do a remote start from App"
Just paired my Apple Watch Ultra to a 2018 Model 3.  When I execute remote start and follow instruction to “spin steering wheel” to start the Tesla, the car will not start.

[2022-11-19 19:09] itsMeDavidV commented on #81
@GalinL sorry to hear that, can you please include your Watchla Support code so I can check any error logs that might point to a cause for the issue?

Thanks,
-David

[2022-11-19 19:30] GalinL commented on #81
Hi David.  Thank you.  Where do I find the Watchla Support Code?

Sent from my iPhone

Galin Luk

On Nov 19, 2022, at 11:10 AM, David Villegas ***@***.***> wrote:

﻿

@GalinL<https://github.com/GalinL> sorry to hear that, can you please include your Watchla Support code so I can check any error logs that might point to an issue?

Thanks,
-David

—
Reply to this email directly, view it on GitHub<ht

[2022-11-19 19:33] GalinL commented on #81
Hi David.  Found the code.  Here it is:

DGPGo7rW94

Sent from my iPhone

Galin Luk

On Nov 19, 2022, at 11:30 AM, galin Luk ***@***.***> wrote:

﻿ Hi David.  Thank you.  Where do I find the Watchla Support Code?

Sent from my iPhone

Galin Luk

On Nov 19, 2022, at 11:10 AM, David Villegas ***@***.***> wrote:

﻿

@GalinL<https://github.com/GalinL> sorry to hear that, can you please include your Wa

[2022-11-19 19:43] itsMeDavidV commented on #81
@GalinL Perfect, I will take a look at any error logs that might exist and report back here.

Sorry for the inconvenience and thanks for your patience.

[2022-11-19 19:47] GalinL commented on #81
Thank you David.

FYI: after a failed attempt at starting the car, I did a hard reset of the Tesla and reset my phone and watch.  Then I tried executing the start command again. No luck.

Sent from my iPhone

Galin Luk

On Nov 19, 2022, at 11:43 AM, David Villegas ***@***.***> wrote:

﻿

@GalinL<https://github.com/GalinL> Perfect, I will take a look at any error logs that might exist and report ba

[2022-11-20 02:59] GalinL commented on #81
Hi David,

The remote start does work.  The instructions on the watch led me to believe I had to turn the steering weel to start the car [the instructions say "spin the wheel to  start driving".  I just figured out the "wheel" is the "crown".  I can't believe I'm the only idiot who just realized this...perhaps, it'd be good to clarify this on the app [to "Spin the crown"].

Thanks!

Galin

Sent fr

[2022-11-20 18:54] itsMeDavidV commented on #81
@GalinL no worries! I was a little confused when I didn't find any error logs that were remote start errors so I'm glad to hear that everything ended up working. Sorry about the confusion, I might have to consider changing the wording!

[2022-11-20 18:54] #81 closed, assigned to nobody

[2022-11-23 22:33] lieberfla opened #82 "Watch icons Apple Watch Ultra"
The watch complication icons are not displaying on the Apple Watch Ultra. I’m guessing you know this, hoping for an update soon.

[2022-11-24 04:55] itsMeDavidV commented on #80
Hi @amy26point2 I had a TestFlight invite to Watchla's beta emailed over to you. The current Watchla beta app contains Apple Watch Ultra specific fixes and I'd love to see if these fixes solve your issue.

I also sent you an email with more info on this that you might find helpful.

Thanks!

[2022-11-24 05:05] itsMeDavidV commented on #82
Hi @lieberfla sorry to hear about this. Have you tried deleting and re-installing Watchla on both devices to rule out a bad download?

There is one other instance of this issue reported in issue #80.

In an effort to consolidate everything I'm going to provide updates there and I encourage you to subscribe to that issue so that you can stay informed.

In the meantime, as I mentioned in the above t

[2022-11-24 05:23] itsMeDavidV commented on #78
@F3000 Happy to report this has been implemented in beta last week and will be pushed to the App Store app!

[2022-11-25 02:31] sheng168 commented on #75
I want to know if there's "PhoneKey" support as well

[2022-11-26 01:09] itsMeDavidV commented on #75
@sheng168 Remote Start is available on Watchla. Unfortunately I'm not at liberty to speak on the original subject matter of this issue quite yet 😉

[2022-11-26 01:13] itsMeDavidV commented on #80
Hi @amy26point2 just wanted to let you know that I was finally able to reproduce your exact issue and a fix has been developed and implemented. The fix will be available in the next update v2.99 which should be out in the coming days (give or take a few bc of Thanksgiving).

Sorry again for this inconvenience.

[2022-11-26 01:16] itsMeDavidV commented on #82
Hi @lieberfla just wanted to give you a heads up that this issue has been reproduced and fixed and the fix will be included in the next App Store update of Watchla (v2.99) in the coming days.

Sorry again for the inconvenience this has caused.

https://github.com/itsMeDavidV/Watchla-Support/issues/80#issuecomment-1327949978

[2022-11-26 14:45] amy26point2 commented on #80
That’s great! Thanks so much for working on the issue. I’m looking forward to using my driving watch face again.